Repository razorpay/checkout-demo-extension, changes with the owners that .github/CODEOWNERS names for each.
All owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc, @razorpay/QA

.github/CODEOWNERS:

# This file allows Github to automatically request reviews from
# code owners when certain files are changed.
# Ref: https://github.com/blog/2392-introducing-de-owners
#
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.


#
# Checkout Core Features : "@razorpay/Checkout-CX" team
#
app/modules/bridge/                                     @razorpay/Checkout-CX
app/modules/configurability/                            @razorpay/Checkout-CX
app/modules/trusted-badge/                              @razorpay/Checkout-CX
app/js/checkout-frame/                                  @razorpay/Checkout-CX


#
# Checkout One-Click-Checkout (1cc) Features: "@razorpay/Checkout-1cc" team
#
app/modules/one_click_checkout/                         @razorpay/Checkout-1cc

#
# Checkout Application Build/Deploy
#
.github/actions/                                        @razorpay/Checkout-CX
git-hooks/                                              @razorpay/Checkout-CX
cdn/                                                    @razorpay/Checkout-CX           @razorpay/Checkout-1cc
beta-cdn/qa/                                            @razorpay/QA                    @razorpay/Checkout-CX           @razorpay/Checkout-1cc 
beta-cdn/                                               @razorpay/Checkout-CX           @razorpay/Checkout-1cc 
dockerconf/                                             @razorpay/Checkout-CX
Dockerfile                                              @razorpay/Checkout-CX
Dockerfile.dev                                          @razorpay/Checkout-CX
gulpfile.js                                             @razorpay/Checkout-CX
jest.config.js                                          @razorpay/Checkout-CX
jest.ut.config.js                                       @razorpay/Checkout-CX
nodemon.json                                            @razorpay/Checkout-CX   
rollup.config.js                                        @razorpay/Checkout-CX
rollup.test.js                                          @razorpay/Checkout-CX
tsconfig.json                                           @razorpay/Checkout-CX
.babelrc                                                @razorpay/Checkout-CX
.eslintrc.js                                            @razorpay/Checkout-CX

Removed the functions form utils folder (#3265)
  app/modules/ui/tabs/upi/index.svelte
  cfu/src/fe/implicit/_Arr.js
  cfu/src/fe/implicit/_Func.js
Owners: none

feat: add support for session token flow and use edge proxy route when applicable (#3193)
  app/modules/checkoutframe/index.js
  app/modules/checkoutjs/frame.js
  app/modules/common/__tests__/helper.test.js
  app/modules/common/helper.js
  blackbox/actions/session-token.js
  blackbox/create/session-token.js
  blackbox/tests/homescreen/sessionToken/open.test.js
  cfu/src/fe/implicit/fetch.js
Owners: none

Added the rearrangement on summary modal (#3292)
  app/modules/one_click_checkout/summary_modal/ui/SummaryModal.svelte
  blackbox/actions/one-click-checkout/common.js
Owners: @razorpay/Checkout-1cc

Feat(1CC): Capture Device Details for Intelligence (#3273)
  app/modules/fingerprint.js
  app/modules/one_click_checkout/address/helpersExtra.js
  app/modules/one_click_checkout/address/service.js
  app/modules/one_click_checkout/sessionInterface.js
  app/modules/ui/tabs/home/Method.svelte
  blackbox/actions/one-click-checkout/common.js
  blackbox/create/one-click-checkout/address.js
  blackbox/create/one-click-checkout/cod.js
  blackbox/create/one-click-checkout/coupons.js
Owners: @razorpay/Checkout-1cc

Feat: Adding RazorpayX to supported cards modal in recurring (#3295)
  app/modules/i18n/bundles/en.js
  app/modules/ui/tabs/card/__test__/RecurringCardsOverlay.test.js
  app/modules/ui/tabs/card/constant.js
Owners: none

1cc OTP input field UI updated
  app/modules/one_click_checkout/otp/ui/OTPInput.svelte
Owners: @razorpay/Checkout-1cc

(refactor): removed _arr.contain split1 (#3280)
  app/js/checkout-frame/session.js
  app/modules/checkoutframe/index.js
  app/modules/checkoutframe/offers/index.js
  app/modules/checkoutframe/paymentmethods.js
  app/modules/checkoutframe/personalization/index.js
  app/modules/checkoutstore/index.js
  app/modules/checkoutstore/methods.js
  app/modules/common/Razorpay.js
  app/modules/common/upi.js
  app/modules/common/wallet.js
Owners: @razorpay/Checkout-CX

(refactor): removed _arr.contain split2 (#3281)
  app/modules/configurability/index.js
  app/modules/configurability/instruments-config.js
  app/modules/configurability/instruments.js
  app/modules/configurability/sequence.js
  app/modules/configurability/validate/card.js
  app/modules/configurability/validate/index.js
  app/modules/payment/index.js
  app/modules/ui/components/CountrySearchModal.svelte
  app/modules/ui/components/emi.svelte
  app/modules/ui/components/feebearer.svelte
Owners: @razorpay/Checkout-CX

(refactor): removed _arr.contain split3 (#3282)
  app/modules/ui/components/offers/index.svelte
  app/modules/ui/elements/DynamicCurrencyView.svelte
  app/modules/ui/elements/SearchModal.svelte
  app/modules/ui/tabs/card/index.svelte
  app/modules/ui/tabs/cardless-emi/index.svelte
  app/modules/ui/tabs/emandate/index.svelte
  app/modules/ui/tabs/emi/emiplancard.svelte
  app/modules/ui/tabs/home/instruments.js
  app/modules/ui/tabs/paylater/index.svelte
  app/modules/ui/tabs/upi/index.svelte
  app/modules/ui/tabs/wallets/index.svelte
Owners: none

Change International Payment method to Instant Bank Transfer (#3312)
  app/modules/i18n/bundles/en.js
Owners: none

Feat(CAW): Adds Jupiter to supported issuers and cards modal (#3316)
  app/modules/i18n/bundles/en.js
  app/modules/ui/tabs/card/__test__/RecurringCardsOverlay.test.js
  app/modules/ui/tabs/card/constant.js
Owners: none

feat: saved addresses UI revamped (CX1CC-36)
  app/modules/one_click_checkout/address/i18n/en.js
  app/modules/one_click_checkout/address/i18n/labels.js
  app/modules/one_click_checkout/address/icons/add_square.js
  app/modules/one_click_checkout/address/icons/kebab_menu.js
  app/modules/one_click_checkout/address/icons/location.js
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
  app/modules/one_click_checkout/address/ui/components/AddressTab.svelte
  app/modules/one_click_checkout/address/ui/components/SameBillingAndShipping.svelte
  app/modules/one_click_checkout/address/ui/components/SavedAddresses.svelte
  app/modules/one_click_checkout/common/ui/DropdownMenu.svelte
  app/modules/ui/icons/payment-methods/index.js
Owners: @razorpay/Checkout-1cc

Revert "Revert "Custom/challan (#3197)" (#3293)" (#3320)
  app/modules/analytics/metaProperties.js
  app/modules/checkoutjs/options.js
  app/modules/ui/tabs/bank-transfer/NeftPrintView.svelte
  app/modules/ui/tabs/bank-transfer/__test__/NeftPrintView.test.js
  app/modules/ui/tabs/bank-transfer/__test__/helper.test.js
  app/modules/ui/tabs/bank-transfer/events.ts
  app/modules/ui/tabs/bank-transfer/helper.ts
  app/modules/ui/tabs/bank-transfer/index.svelte
  beta-cdn/qa/standard-checkout.html
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

[Feat] : Disabling city state auto population (#3317)
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
  app/modules/one_click_checkout/store.js
Owners: @razorpay/Checkout-1cc

feat: edit address navigation handled + formData set from savedAddress
  app/modules/one_click_checkout/address/helpersExtra.js
  app/modules/one_click_checkout/address/icons/kebab_menu.js
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
  app/modules/one_click_checkout/address/ui/components/AddressTab.svelte
  app/modules/one_click_checkout/address/ui/components/SavedAddresses.svelte
  app/modules/one_click_checkout/common/ui/DropdownMenu.svelte
Owners: @razorpay/Checkout-1cc

fix: add polyfill for array includes
  app/modules/lib/polyfill/checkout.js
Owners: none

bugfix: transition on routing fix
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
  app/modules/one_click_checkout/common/ui/DropdownMenu.svelte
Owners: @razorpay/Checkout-1cc

Added the prefilled coupon issue (#3321)
  app/modules/one_click_checkout/coupons/sessionInterface.js
Owners: @razorpay/Checkout-1cc

Challan Android/IOS SDK Support (#3323)
  app/modules/checkoutstore/native.js
  app/modules/ui/tabs/bank-transfer/NeftPrintView.svelte
  app/modules/ui/tabs/bank-transfer/__test__/NeftPrintView.test.js
Owners: none

fix: include polyfill in correct place (#3329)
  app/js/lib/polyfill.js
  app/modules/lib/polyfill/prototypes/native.js
Owners: none

chore: polyfill at place (#3330)
  app/js/lib/polyfill.js
  app/modules/lib/polyfill/checkout.js
  app/modules/lib/polyfill/checkoutframe.js
  app/modules/lib/polyfill/prototypes/nativecommon.js
Owners: none

Feat: add Niyo pay and removes Jupitor (#3333)
  app/modules/i18n/bundles/en.js
  app/modules/ui/tabs/card/__test__/RecurringCardsOverlay.test.js
  app/modules/ui/tabs/card/constant.js
Owners: none

PR fixes
  app/modules/one_click_checkout/address/i18n/en.js
  app/modules/one_click_checkout/address/i18n/labels.js
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
  app/modules/one_click_checkout/address/ui/components/SavedAddresses.svelte
  app/modules/one_click_checkout/common/ui/DropdownMenu.svelte
Owners: @razorpay/Checkout-1cc

pr fixes: utils created
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
  app/modules/one_click_checkout/common/ui/DropdownMenu.svelte
  app/modules/one_click_checkout/common/utils.js
Owners: @razorpay/Checkout-1cc

Fix: Recurring hiding Skip saving card option on OTP screen (#3294)
  app/modules/ui/tabs/otp/index.svelte
Owners: none

PR fixes: address box view logic shifted to service layer
  app/modules/one_click_checkout/address/helpersExtra.js
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
Owners: @razorpay/Checkout-1cc

chore: UPI NR improvements base cleanup (#3246) (#3334)
  app/js/checkout-frame/session.js
  app/modules/checkoutframe/discreet.js
  app/modules/checkoutframe/personalization/__tests__/filters.test.js
  app/modules/checkoutframe/personalization/experiments.ts
  app/modules/checkoutframe/personalization/filters.js
  app/modules/checkoutframe/personalization/index.js
  app/modules/checkoutstore/screens/upi.ts
  app/modules/common/constants.js
  app/modules/common/helpers/customer.ts
  app/modules/experiments/index.js
  app/modules/one_click_checkout/address/helpers.js
  app/modules/one_click_checkout/common/details/helpers.js
  app/modules/one_click_checkout/common/middlewares/hasSavedAddress.js
  app/modules/one_click_checkout/common/middlewares/isAuthenticated.js
  app/modules/one_click_checkout/common/otp.js
  app/modules/one_click_checkout/common/otpHelpers.js
  app/modules/one_click_checkout/coupons/ui/components/Details.svelte
  app/modules/one_click_checkout/helper.js
  app/modules/one_click_checkout/sessionInterface.js
  app/modules/one_click_checkout/ui/Home.svelte
  app/modules/ui/components/Topbar.svelte
  app/modules/ui/tabs/home/NewMethodsList.svelte
  app/modules/ui/tabs/home/__tests__/filter.test.js
  app/modules/ui/tabs/home/__tests__/helpers.test.js
  app/modules/ui/tabs/home/filter.ts
  app/modules/ui/tabs/home/helpers.js
  app/modules/ui/tabs/home/index.svelte
  app/modules/ui/tabs/home/instruments.js
  app/modules/ui/tabs/upi/index.svelte
  app/modules/upi/__test__/highlight-upi-intent.test.js
  app/modules/upi/experiments.js
  app/modules/upi/experiments.ts
  app/modules/upi/helper/highlight-upi-intent.ts
  blackbox/actions/checkout.js
  blackbox/tests/homescreen/upiCollect/upiAppOnDesktopPersonalization.test.js
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

new formatter added to fix extra key in address issues
  app/modules/one_click_checkout/address/helpersExtra.js
  app/modules/one_click_checkout/address/sessionInterface.js
Owners: @razorpay/Checkout-1cc

Resolved the phone autofill issue (#3331)
  app/modules/one_click_checkout/address/helpers.js
Owners: @razorpay/Checkout-1cc

OTP screen UI changes for 1cc flow
  app/modules/components/LinkButton.svelte
  app/modules/i18n/bundles/en.js
  app/modules/one_click_checkout/otp/ui/OTP.svelte
  app/modules/ui/components/CountdownTimer.svelte
  app/modules/ui/elements/ResendButton.svelte
  app/modules/ui/icons/payment-methods/edit_paper.js
  app/modules/ui/icons/payment-methods/index.js
  app/modules/ui/labels/otp.js
  app/modules/ui/tabs/otp/index.svelte
Owners: @razorpay/Checkout-1cc

Revert "Resolved the phone autofill issue (#3331)" (#3344)
  app/modules/one_click_checkout/address/helpers.js
Owners: @razorpay/Checkout-1cc

chore: update secured by Razorpay logo and strip off non utf-8 chars
  app/modules/ui/tabs/bank-transfer/NeftPrintView.svelte
  app/modules/ui/tabs/bank-transfer/challanConstants.js
Owners: none

resend_btn i18n fix
  app/modules/ui/elements/ResendButton.svelte
Owners: none

Revert "Revert "Resolved the phone autofill issue (#3331)" (#3344)" (#3345)
  app/modules/one_click_checkout/address/helpers.js
Owners: @razorpay/Checkout-1cc

class updated in linkButton
  app/modules/components/LinkButton.svelte
Owners: none

PR fixes: absolute imports removed + dispatch methods renamed
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
  app/modules/one_click_checkout/address/ui/components/AddressTab.svelte
  app/modules/one_click_checkout/address/ui/components/SavedAddresses.svelte
Owners: @razorpay/Checkout-1cc

PR fixes: slot names changed to snake case
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
  app/modules/one_click_checkout/common/ui/DropdownMenu.svelte
Owners: @razorpay/Checkout-1cc

Revert "chore: UPI NR improvements base cleanup (#3246) (#3334)" (#3350)
  app/js/checkout-frame/session.js
  app/modules/analytics/highlightUpiIntentAnalytics.js
  app/modules/checkoutframe/discreet.js
  app/modules/checkoutframe/personalization/__tests__/filters.test.js
  app/modules/checkoutframe/personalization/experiments.ts
  app/modules/checkoutframe/personalization/filters.js
  app/modules/checkoutframe/personalization/index.js
  app/modules/checkoutstore/screens/upi.js
  app/modules/common/constants.js
  app/modules/experiments/index.js
  app/modules/one_click_checkout/address/helpers.js
  app/modules/one_click_checkout/common/details/helpers.js
  app/modules/one_click_checkout/common/helpers/customer.js
  app/modules/one_click_checkout/common/middlewares/hasSavedAddress.js
  app/modules/one_click_checkout/common/middlewares/isAuthenticated.js
  app/modules/one_click_checkout/common/otp.js
  app/modules/one_click_checkout/common/otpHelpers.js
  app/modules/one_click_checkout/coupons/ui/components/Details.svelte
  app/modules/one_click_checkout/helper.js
  app/modules/one_click_checkout/sessionInterface.js
  app/modules/one_click_checkout/ui/Home.svelte
  app/modules/ui/components/Topbar.svelte
  app/modules/ui/tabs/home/NewMethodsList.svelte
  app/modules/ui/tabs/home/__tests__/filter.test.js
  app/modules/ui/tabs/home/__tests__/helpers.test.js
  app/modules/ui/tabs/home/filter.ts
  app/modules/ui/tabs/home/helpers.js
  app/modules/ui/tabs/home/index.svelte
  app/modules/ui/tabs/home/instruments.js
  app/modules/ui/tabs/upi/index.svelte
  app/modules/upi/__test__/highlight-upi-intent.test.js
  app/modules/upi/experiments.js
  app/modules/upi/experiments.ts
  blackbox/actions/checkout.js
  blackbox/tests/homescreen/upiCollect/upiAppOnDesktopPersonalization.test.js
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

Fixed the issue of QR 1CC (#3352)
  app/js/checkout-frame/session.js
Owners: @razorpay/Checkout-CX

feat: API changes to check serviceability of addresses
  app/modules/one_click_checkout/address/constants.js
  app/modules/one_click_checkout/address/helpersExtra.js
  app/modules/one_click_checkout/address/service.js
  app/modules/one_click_checkout/address/sessionInterface.js
  app/modules/one_click_checkout/address/shipping_address/store.js
  app/modules/one_click_checkout/address/ui/components/AddressTab.svelte
  app/modules/one_click_checkout/address/ui/components/SavedAddresses.svelte
  app/modules/one_click_checkout/coupons/ui/Coupons.svelte
  app/modules/one_click_checkout/ui/Home.svelte
Owners: @razorpay/Checkout-1cc
