Repository razorpay/checkout-demo-extension, changes with the owners that .github/CODEOWNERS names for each.
All owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc, @razorpay/QA

.github/CODEOWNERS:

# This file allows Github to automatically request reviews from
# code owners when certain files are changed.
# Ref: https://github.com/blog/2392-introducing-de-owners
#
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.


#
# Checkout Core Features : "@razorpay/Checkout-CX" team
#
app/modules/bridge/                                     @razorpay/Checkout-CX
app/modules/configurability/                            @razorpay/Checkout-CX
app/modules/trusted-badge/                              @razorpay/Checkout-CX
app/js/checkout-frame/                                  @razorpay/Checkout-CX


#
# Checkout One-Click-Checkout (1cc) Features: "@razorpay/Checkout-1cc" team
#
app/modules/one_click_checkout/                         @razorpay/Checkout-1cc

#
# Checkout Application Build/Deploy
#
.github/actions/                                        @razorpay/Checkout-CX
git-hooks/                                              @razorpay/Checkout-CX
cdn/                                                    @razorpay/Checkout-CX           @razorpay/Checkout-1cc
beta-cdn/qa/                                            @razorpay/QA                    @razorpay/Checkout-CX           @razorpay/Checkout-1cc 
beta-cdn/                                               @razorpay/Checkout-CX           @razorpay/Checkout-1cc 
dockerconf/                                             @razorpay/Checkout-CX
Dockerfile                                              @razorpay/Checkout-CX
Dockerfile.dev                                          @razorpay/Checkout-CX
gulpfile.js                                             @razorpay/Checkout-CX
jest.config.js                                          @razorpay/Checkout-CX
jest.ut.config.js                                       @razorpay/Checkout-CX
nodemon.json                                            @razorpay/Checkout-CX   
rollup.config.js                                        @razorpay/Checkout-CX
rollup.test.js                                          @razorpay/Checkout-CX
tsconfig.json                                           @razorpay/Checkout-CX
.babelrc                                                @razorpay/Checkout-CX
.eslintrc.js                                            @razorpay/Checkout-CX

fix: type
  app/modules/lib/utils.ts
Owners: none

remove: polyfill.js
  app/js/lib/polyfill.js
Owners: none

enable animations in IE (#3631)
  app/modules/ui/components/MainModal/helper.ts
Owners: none

fix: ie matches polyfill
  app/modules/lib/polyfill/checkoutframe.js
Owners: none

Fix(V1.5): Events fixes (#3632)
  app/modules/formatter.js
  app/modules/one_click_checkout/address/service.js
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
  app/modules/one_click_checkout/address/ui/components/AddressFormBuilder.svelte
  app/modules/one_click_checkout/address/ui/elements/StateSearchField.svelte
  app/modules/ui/components/Field.svelte
  app/modules/ui/tabs/home/index.svelte
Owners: @razorpay/Checkout-1cc

fix: remove debugger statement (#3636)
  app/modules/formatter.js
Owners: none

Analytics events added for close modal
  app/modules/one_click_checkout/account_modal/sessionInterface.js
  app/modules/one_click_checkout/analytics/constants.js
  app/modules/one_click_checkout/analytics/helpers.js
  app/modules/one_click_checkout/analytics/index.js
  app/modules/one_click_checkout/header/sessionInterface.js
  app/modules/one_click_checkout/sessionInterface.js
Owners: @razorpay/Checkout-1cc

PR fixes: absolute import removed
  app/modules/one_click_checkout/sessionInterface.js
Owners: @razorpay/Checkout-1cc

QR tab added in analytics screens
  app/modules/one_click_checkout/analytics/constants.js
Owners: @razorpay/Checkout-1cc

fix: CTA Width for large amounts (#3640)
  app/modules/one_click_checkout/cta/index.svelte
Owners: @razorpay/Checkout-1cc

Fix(V1.5): Enable tests (#3643)
  Dockerfile
  app/modules/one_click_checkout/cta/index.svelte
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

refactor: minor fix remove unused code
  app/js/checkout-frame/session.js
Owners: @razorpay/Checkout-CX

fix: skip 1CC tests
  blackbox/create/one-click-checkout/address.js
  blackbox/create/one-click-checkout/cod.js
Owners: none

refactor: init.js
  app/js/checkout-frame/init.js
  app/js/checkout-frame/session.js
  app/modules/checkoutframe/discreet.js
  app/modules/common/paylater.js
  app/modules/entry/checkout-frame.js
  app/modules/error-service/error-service.js
  app/modules/error-service/index.js
Owners: @razorpay/Checkout-CX

fix: only show popup incase of zestmoney (#3647)
  app/modules/payment/index.js
Owners: none

Fix(V1.5): Fix Std Checkout Failures (#3648)
  app/js/checkout-frame/session.js
  app/modules/ui/components/offers/index.svelte
  app/modules/ui/tabs/home/index.svelte
  app/modules/ui/tabs/upi/index.svelte
Owners: @razorpay/Checkout-CX

Fix(V1.5): Coupons screen event fixes (#3649)
  app/modules/one_click_checkout/address/service.js
  app/modules/one_click_checkout/coupons/ui/Coupons.svelte
Owners: @razorpay/Checkout-1cc

Fix(analytics): Decrease analytics payload size (#3650)
  app/modules/analytics/tracker.js
Owners: none

Refactor billing address verification component and increase test coverage (#3400)
  app/modules/ui/components/BillingAddressVerificationForm/BillingAddressVerificationForm.md
  app/modules/ui/components/BillingAddressVerificationForm/BillingAddressVerificationForm.svelte
  app/modules/ui/components/BillingAddressVerificationForm/__tests__/BillingAddressVerificationForm.test.ts
  app/modules/ui/components/BillingAddressVerificationForm/__tests__/helper.test.ts
  app/modules/ui/components/BillingAddressVerificationForm/constants.ts
  app/modules/ui/components/BillingAddressVerificationForm/helper.ts
  app/modules/ui/components/BillingAddressVerificationForm/index.ts
  app/modules/ui/components/BillingAddressVerificationForm/types.ts
  app/modules/ui/labels/avs-form.js
Owners: none

bugifx: getCityState api getting fired twice fixed
  app/modules/one_click_checkout/address/service.js
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
Owners: @razorpay/Checkout-1cc

[FT]: fix added for personalised coupon
  blackbox/create/one-click-checkout/coupons.js
Owners: none

improvement: remove modal.js
  app/checkout.html
  app/js/checkout-frame/session.js
  app/modules/entry/checkout-frame.js
  app/modules/ui/components/MainModal/index.svelte
  app/modules/utils/modal.ts
Owners: @razorpay/Checkout-CX

refactor: feedback
  app/checkout.html
  app/js/checkout-frame/session.js
  app/modules/ui/components/MainModal/index.svelte
  app/modules/utils/modal.ts
Owners: @razorpay/Checkout-CX

improvement: escape close add overlay check
  app/modules/ui/components/MainModal/index.svelte
Owners: none

refactor: remove comments
  app/checkout.html
Owners: none

Delete theme.js
  app/templates/theme.js
Owners: none

Update session.js
  app/js/checkout-frame/session.js
Owners: @razorpay/Checkout-CX

revert check of modal
  app/js/checkout-frame/session.js
Owners: @razorpay/Checkout-CX

(fix): Bundle Fix (#3656)
  app/modules/i18n/bundles/en.js
  app/modules/one_click_checkout/otp/ui/components/ResendButton.svelte
  app/modules/ui/elements/ResendButton.svelte
Owners: @razorpay/Checkout-1cc

1CC [Feat] : Missing vernacular strings (#3623)
  app/modules/one_click_checkout/address/analytics/index.js
  app/modules/one_click_checkout/address/helpersExtra.js
  app/modules/one_click_checkout/address/i18n/en.js
  app/modules/one_click_checkout/address/i18n/labels.js
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
  app/modules/one_click_checkout/address/ui/elements/Tag.svelte
Owners: @razorpay/Checkout-1cc

Fix(V1.5): V1.5 Exp in meta (#3654)
  app/js/checkout-frame/session.js
  app/modules/checkoutjs/frame.js
  app/modules/checkoutjs/open.js
  app/modules/common/constants.js
Owners: @razorpay/Checkout-CX

fix(p13n): filter added for providers in cardless emi and also in sanity filter (#3658)
  app/modules/checkoutframe/personalization/filters.js
  app/modules/checkoutstore/methods.js
Owners: none
