Repository razorpay/checkout-demo-extension, changes with the owners that .github/CODEOWNERS names for each.
All owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc, @razorpay/QA

.github/CODEOWNERS:

# This file allows Github to automatically request reviews from
# code owners when certain files are changed.
# Ref: https://github.com/blog/2392-introducing-de-owners
#
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.


#
# Checkout Core Features : "@razorpay/Checkout-CX" team
#
app/modules/bridge/                                     @razorpay/Checkout-CX
app/modules/configurability/                            @razorpay/Checkout-CX
app/modules/trusted-badge/                              @razorpay/Checkout-CX
app/js/checkout-frame/                                  @razorpay/Checkout-CX


#
# Checkout One-Click-Checkout (1cc) Features: "@razorpay/Checkout-1cc" team
#
app/modules/one_click_checkout/                         @razorpay/Checkout-1cc

#
# Checkout Application Build/Deploy
#
.github/actions/                                        @razorpay/Checkout-CX
git-hooks/                                              @razorpay/Checkout-CX
cdn/                                                    @razorpay/Checkout-CX           @razorpay/Checkout-1cc
beta-cdn/qa/                                            @razorpay/QA                    @razorpay/Checkout-CX           @razorpay/Checkout-1cc 
beta-cdn/                                               @razorpay/Checkout-CX           @razorpay/Checkout-1cc 
dockerconf/                                             @razorpay/Checkout-CX
Dockerfile                                              @razorpay/Checkout-CX
Dockerfile.dev                                          @razorpay/Checkout-CX
gulpfile.js                                             @razorpay/Checkout-CX
jest.config.js                                          @razorpay/Checkout-CX
jest.ut.config.js                                       @razorpay/Checkout-CX
nodemon.json                                            @razorpay/Checkout-CX   
rollup.config.js                                        @razorpay/Checkout-CX
rollup.test.js                                          @razorpay/Checkout-CX
tsconfig.json                                           @razorpay/Checkout-CX
.babelrc                                                @razorpay/Checkout-CX
.eslintrc.js                                            @razorpay/Checkout-CX

1CC [Feat]: Add Address Screen UI Rewamp (#3339)
  app/modules/one_click_checkout/Toast/index.js
  app/modules/one_click_checkout/Toast/ui/Toast.svelte
  app/modules/one_click_checkout/address/i18n/en.js
  app/modules/one_click_checkout/address/i18n/labels.js
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
  app/modules/one_click_checkout/address/ui/components/AddressFormBuilder.svelte
  app/modules/one_click_checkout/address/ui/components/AutoCompleteInput.svelte
  app/modules/one_click_checkout/address/ui/components/TagIcon.svelte
  app/modules/one_click_checkout/address/ui/elements/Tag.svelte
  app/modules/one_click_checkout/common/ui/WrappedInput.svelte
  app/modules/one_click_checkout/coupons/ui/components/Details.svelte
  app/modules/ui/components/Field.svelte
  app/modules/ui/icons/payment-methods/index.js
Owners: @razorpay/Checkout-1cc

chors: Removed duplicate coupon label
  app/modules/one_click_checkout/coupons/ui/components/Details.svelte
Owners: @razorpay/Checkout-1cc

1CC [Feat]: Creating Header Component (#3368)
  app/_templates/modal.jst
  app/css/iframe.styl
  app/css/modal.styl
  app/modules/checkoutframe/components/index.js
  app/modules/one_click_checkout/account_modal/constants.js
  app/modules/one_click_checkout/account_modal/index.js
  app/modules/one_click_checkout/account_modal/ui/AccountModal.svelte
  app/modules/one_click_checkout/address/ui/components/AddressTab.svelte
  app/modules/one_click_checkout/coupons/icons/arrow_down.js
  app/modules/one_click_checkout/coupons/ui/Coupons.svelte
  app/modules/one_click_checkout/coupons/ui/CouponsList.svelte
  app/modules/one_click_checkout/coupons/ui/components/CouponItem.svelte
  app/modules/one_click_checkout/header/Header.svelte
  app/modules/one_click_checkout/header/analytics/index.js
  app/modules/one_click_checkout/header/components/LanguageSelection.svelte
  app/modules/one_click_checkout/header/components/TrustedBadge.svelte
  app/modules/one_click_checkout/header/helper.js
  app/modules/one_click_checkout/header/index.js
  app/modules/one_click_checkout/header/store.js
  app/modules/one_click_checkout/otp/ui/OTP.svelte
  app/modules/trusted-badge/helper/index.js
  app/modules/ui/icons/payment-methods/index.js
  app/modules/ui/tabs/Tab.svelte
  app/modules/ui/tabs/home/index.svelte
  app/modules/ui/tabs/otp/index.svelte
Owners: @razorpay/Checkout-1cc, @razorpay/Checkout-CX

feat: Address UI fixes
  app/_templates/theme.jst
  app/modules/one_click_checkout/address/i18n/en.js
  app/modules/one_click_checkout/address/icons/caret_circle_right.js
  app/modules/one_click_checkout/address/ui/Address.svelte
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
  app/modules/one_click_checkout/address/ui/components/AddressTab.svelte
  app/modules/one_click_checkout/address/ui/components/SavedAddresses.svelte
  app/modules/one_click_checkout/coupons/ui/components/AddressWidget.svelte
  app/modules/ui/icons/payment-methods/index.js
Owners: @razorpay/Checkout-1cc

Feat: Adding Indian Overseas bank to recurring cards banner (#3347)
  app/modules/ui/tabs/card/__test__/RecurringCardsOverlay.test.js
  app/modules/ui/tabs/card/constant.js
Owners: none

1CC [FEAT] - Enhanced the look and feel of home page (#3388)
  app/_templates/theme.jst
  app/modules/one_click_checkout/address/i18n/en.js
  app/modules/one_click_checkout/address/ui/Address.svelte
  app/modules/one_click_checkout/contact_widget/ContactWidget.svelte
  app/modules/one_click_checkout/coupons/config.js
  app/modules/one_click_checkout/coupons/i18n/en.js
  app/modules/one_click_checkout/coupons/i18n/labels.js
  app/modules/one_click_checkout/coupons/ui/AvailableCoupons.svelte
  app/modules/one_click_checkout/coupons/ui/Coupons.svelte
  app/modules/one_click_checkout/coupons/ui/CouponsList.svelte
  app/modules/one_click_checkout/coupons/ui/components/AddressWidget.svelte
  app/modules/one_click_checkout/coupons/ui/components/AvailableCouponsButton.svelte
  app/modules/one_click_checkout/coupons/ui/components/CouponInput.svelte
  app/modules/one_click_checkout/coupons/ui/components/Details.svelte
  app/modules/one_click_checkout/coupons/ui/components/OrderWidget.svelte
  app/modules/one_click_checkout/topbar/helper.js
  app/modules/one_click_checkout/topbar/ui/Topbar.svelte
Owners: @razorpay/Checkout-1cc

V1.5 Header and RTB review changes (#3389)
  app/_templates/modal.jst
  app/css/iframe.styl
  app/modules/one_click_checkout/account_modal/ui/AccountTab.svelte
  app/modules/one_click_checkout/common/ui/Backdrop.svelte
  app/modules/one_click_checkout/contact_widget/ContactWidget.svelte
  app/modules/one_click_checkout/header/Header.svelte
  app/modules/one_click_checkout/header/components/TrustedBadge.svelte
  app/modules/one_click_checkout/rtb_modal/icons/badge.js
  app/modules/one_click_checkout/rtb_modal/ui/RTBModal.svelte
Owners: @razorpay/Checkout-1cc

feat: OTP screen added for saved cards + native OTP fixes
  app/js/checkout-frame/session.js
  app/modules/checkoutframe/customer.js
  app/modules/checkoutstore/screens/otp.js
  app/modules/i18n/bundles/en.js
  app/modules/one_click_checkout/otp/ui/OTP.svelte
  app/modules/one_click_checkout/otp/ui/OTPInput.svelte
  app/modules/ui/elements/ResendButton.svelte
  app/modules/ui/tabs/otp/index.svelte
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

separate ResendButton created for one-cc + session bug fix
  app/js/checkout-frame/session.js
  app/modules/one_click_checkout/otp/ui/OTP.svelte
  app/modules/one_click_checkout/otp/ui/components/ResendButton.svelte
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

css border variable replaced with theme-border
  app/modules/one_click_checkout/otp/ui/OTP.svelte
  app/modules/one_click_checkout/otp/ui/OTPInput.svelte
  app/modules/ui/tabs/otp/index.svelte
Owners: @razorpay/Checkout-1cc

otp error css fix + edit removed from saved cards OTP
  app/modules/one_click_checkout/otp/ui/OTPInput.svelte
  app/modules/ui/tabs/otp/index.svelte
Owners: @razorpay/Checkout-1cc

address widget ui fixes
  app/modules/one_click_checkout/coupons/ui/components/AddressWidget.svelte
Owners: @razorpay/Checkout-1cc

PR fixes: changes for readability + session build fixes + important replaced with specificty in CSS
  app/js/checkout-frame/session.js
  app/modules/checkoutframe/customer.js
  app/modules/one_click_checkout/otp/ui/OTP.svelte
  app/modules/ui/tabs/otp/index.svelte
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

build issue solved
  app/modules/one_click_checkout/account_modal/ui/AccountModal.svelte
Owners: @razorpay/Checkout-1cc

feat(RTB): Hide RTB info on click of RTB badge (#3384)
  app/modules/trusted-badge/experiments.js
  app/modules/trusted-badge/ui/component/TrustedBadge.svelte
  app/modules/trusted-badge/ui/component/__test__/TrustedBadge.test.js
Owners: @razorpay/Checkout-CX

Zestmoney Popup Flow (#3305)
  app/modules/common/emi.js
  app/modules/payment/coproto.js
  app/modules/payment/index.js
  blackbox/actions/emi-actions.js
  blackbox/actions/shared-actions.js
  blackbox/create/cardless-emi.js
  blackbox/tests/homescreen/cardlessEmi/zestmoney/feebearer.partialpayment.popup.test.js
  blackbox/tests/homescreen/cardlessEmi/zestmoney/partialpayment.callbackurl.popup.test.js
  blackbox/tests/homescreen/cardlessEmi/zestmoney/partialpayment.optionalContact.popup.test.js
  blackbox/tests/homescreen/cardlessEmi/zestmoney/partialpayment.popup.test.js
Owners: none

feat(OTC) Add offline method on checkout (#3289)
  app/js/checkout-frame/session.js
  app/modules/analytics/index.js
  app/modules/analytics/offline.js
  app/modules/checkoutframe/components/offlineChallan.js
  app/modules/checkoutframe/discreet.js
  app/modules/checkoutframe/paymentmethods.js
  app/modules/checkoutjs/options.js
  app/modules/checkoutstore/methods.js
  app/modules/common/constants.js
  app/modules/common/loadScript.js
  app/modules/i18n/bundles/en.js
  app/modules/ui/icons/payment-methods/index.js
  app/modules/ui/icons/payment-methods/offlineChallan.js
  app/modules/ui/labels/offline-challan.js
  app/modules/ui/tabs/bank-transfer/index.svelte
  app/modules/ui/tabs/offline-challan/ChallanPrintView.svelte
  app/modules/ui/tabs/offline-challan/__tests__/challanPrintView.test.js
  app/modules/ui/tabs/offline-challan/__tests__/helper.js
  app/modules/ui/tabs/offline-challan/__tests__/index.test.js
  app/modules/ui/tabs/offline-challan/constants.js
  app/modules/ui/tabs/offline-challan/helper.js
  app/modules/ui/tabs/offline-challan/index.svelte
Owners: @razorpay/Checkout-CX

Resend button resetted for all native OTP and non 1cc flows + Countdown timer shifted to 1cc
  app/modules/one_click_checkout/otp/ui/components/CountdownTimer.svelte
  app/modules/one_click_checkout/otp/ui/components/ResendButton.svelte
  app/modules/ui/elements/ResendButton.svelte
  app/modules/ui/tabs/otp/index.svelte
Owners: @razorpay/Checkout-1cc

1CC [FEAT] : Introducing new font for 1cc flows (#3387)
  app/checkout.html
  app/checkout.styl
  app/css/common.styl
  app/css/iframe.styl
  app/css/modal.styl
  app/fonts/Inter-Bold.ttf
  app/fonts/Inter-Light.ttf
  app/fonts/Inter-SemiBold.ttf
  app/fonts/Inter.ttf
  app/modules/one_click_checkout/header/components/TrustedBadge.svelte
Owners: @razorpay/Checkout-1cc

1CC [Feat]: Add Address UI Enhanced (#3390)
  app/modules/one_click_checkout/address/icons/home.js
  app/modules/one_click_checkout/address/icons/others_tag.js
  app/modules/one_click_checkout/address/ui/Address.svelte
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
  app/modules/one_click_checkout/address/ui/components/AddressFormBuilder.svelte
  app/modules/one_click_checkout/address/ui/elements/Tag.svelte
  app/modules/one_click_checkout/common/ui/WrappedInput.svelte
  app/modules/ui/components/ContactField.svelte
  app/modules/ui/components/Field.svelte
Owners: @razorpay/Checkout-1cc

(Fix): Bug fix for fonts (#3403)
  app/css/modal.styl
Owners: none

design AI fixes + loader added on serviceability check
  app/modules/one_click_checkout/address/service.js
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
  app/modules/one_click_checkout/address/ui/components/AddressTab.svelte
  app/modules/one_click_checkout/address/ui/elements/Tag.svelte
  app/modules/one_click_checkout/common/ui/WrappedInput.svelte
  app/modules/one_click_checkout/coupons/ui/components/AddressWidget.svelte
  app/modules/one_click_checkout/otp/ui/OTP.svelte
  app/modules/ui/tabs/otp/index.svelte
Owners: @razorpay/Checkout-1cc

(fix): Modal Height fixed (#3405)
  app/css/modal.styl
Owners: none

Resolved the Design Review changes (#3402)
  app/_templates/theme.jst
  app/css/modal.styl
  app/modules/checkoutstore/theme.js
  app/modules/one_click_checkout/coupons/ui/AvailableCoupons.svelte
  app/modules/one_click_checkout/coupons/ui/components/CouponItem.svelte
  app/modules/one_click_checkout/coupons/ui/components/OrderWidget.svelte
  app/modules/ui/components/PoweredBy.svelte
Owners: @razorpay/Checkout-1cc

Reverted the tab title changes V1.5 (#3401)
  app/js/checkout-frame/session.js
  app/modules/one_click_checkout/coupons/ui/Coupons.svelte
  app/modules/one_click_checkout/coupons/ui/CouponsList.svelte
  app/modules/one_click_checkout/header/helper.js
  app/modules/one_click_checkout/topbar/helper.js
  app/modules/ui/tabs/card/index.svelte
  app/modules/ui/tabs/cardless-emi/index.svelte
  app/modules/ui/tabs/emandate/index.svelte
  app/modules/ui/tabs/emi/emiplans.svelte
  app/modules/ui/tabs/international/index.svelte
  app/modules/ui/tabs/nach/index.svelte
  app/modules/ui/tabs/netbanking/index.svelte
  app/modules/ui/tabs/otp/index.svelte
  app/modules/ui/tabs/paylater/index.svelte
  app/modules/ui/tabs/qr/index.svelte
  app/modules/ui/tabs/upi/index.svelte
  app/modules/ui/tabs/wallets/index.svelte
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

showLoader, loaderLabel replaced with show/hideLoaderView
  app/modules/one_click_checkout/address/service.js
Owners: @razorpay/Checkout-1cc

v1.5 changes offers UI (#3392)
  app/css/modal.styl
  app/modules/ui/components/offers/OfferItemList.svelte
  app/modules/ui/components/offers/OfferItemMagicCheckout.svelte
  app/modules/ui/components/offers/index.svelte
Owners: none

Added the animation for Toast and Fixing the Details Page issue (#3394)
  app/modules/one_click_checkout/Toast/ui/Toast.svelte
  app/modules/one_click_checkout/address/config.js
  app/modules/one_click_checkout/address/helpers.js
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
  app/modules/one_click_checkout/address/ui/components/AddressFormBuilder.svelte
  app/modules/one_click_checkout/common/details/config.js
  app/modules/one_click_checkout/common/details/helpers.js
  app/modules/one_click_checkout/contact_widget/ContactWidget.svelte
  app/modules/one_click_checkout/coupons/helpers.js
  app/modules/one_click_checkout/coupons/ui/Coupons.svelte
  app/modules/one_click_checkout/coupons/ui/components/AvailableCouponsButton.svelte
  app/modules/one_click_checkout/coupons/ui/components/OrderWidget.svelte
  app/modules/one_click_checkout/topbar/ui/Topbar.svelte
  app/modules/ui/components/DynamicFeeBearer.svelte
  app/modules/ui/components/EmiDetails.svelte
  app/modules/ui/components/Field.svelte
  app/modules/ui/components/UserDetailsStrip.svelte
  app/modules/ui/components/feebearer.svelte
  app/modules/ui/elements/DynamicCurrencyView.svelte
  app/modules/ui/tabs/home/PaymentDetails.svelte
Owners: @razorpay/Checkout-1cc

Feat(V1.5): CTA PR (#3397)
  app/_templates/modal.jst
  app/_templates/theme.jst
  app/css/iframe.styl
  app/css/modal.styl
  app/js/checkout-frame/session.js
  app/modules/checkoutframe/components/card.js
  app/modules/checkoutframe/components/netbanking.js
  app/modules/checkoutframe/components/upi.js
  app/modules/checkoutframe/components/wallet.js
  app/modules/checkoutframe/constants.js
  app/modules/checkoutframe/discreet.js
  app/modules/checkoutframe/emiplans.js
  app/modules/checkoutstore/screens/otp.js
  app/modules/i18n/bundles/en.js
  app/modules/one_click_checkout/address/ui/components/AddressTab.svelte
  app/modules/one_click_checkout/common/otp.js
  app/modules/one_click_checkout/coupons/ui/Coupons.svelte
  app/modules/one_click_checkout/cta/i18n/en.js
  app/modules/one_click_checkout/cta/i18n/index.js
  app/modules/one_click_checkout/cta/index.svelte
  app/modules/one_click_checkout/loader/Loader.svelte
  app/modules/one_click_checkout/otp/ui/OTP.svelte
  app/modules/one_click_checkout/summary_modal/ui/SummaryModal.svelte
  app/modules/ui/components/offers/index.svelte
  app/modules/ui/layouts/Screen.svelte
  app/modules/ui/tabs/card/index.svelte
  app/modules/ui/tabs/emi/emiplans.svelte
  app/modules/ui/tabs/home/PaymentDetails.svelte
  app/modules/ui/tabs/home/index.svelte
  app/modules/ui/tabs/netbanking/index.svelte
  app/modules/ui/tabs/upi/index.svelte
  app/modules/ui/tabs/wallets/index.svelte
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

feat(RTB): Hide RTB info on click for 100% users (#3406)
  app/modules/trusted-badge/experiments.js
Owners: @razorpay/Checkout-CX

Removed the unwanted code
  app/modules/ui/tabs/card/index.svelte
Owners: none

QA fixes: redirection to billing address if no address + savedAddresses onMount logic simplified
  app/modules/one_click_checkout/address/ui/components/AddressTab.svelte
  app/modules/one_click_checkout/address/ui/components/SavedAddresses.svelte
  app/modules/one_click_checkout/common/middlewares/hasSavedAddress.js
Owners: @razorpay/Checkout-1cc

1CC [FEAT] : Design AIs (#3409)
  app/css/iframe.styl
  app/modules/one_click_checkout/address/i18n/en.js
  app/modules/one_click_checkout/address/i18n/labels.js
  app/modules/one_click_checkout/address/icons/solid_down_arrow.js
  app/modules/one_click_checkout/address/icons/work.js
  app/modules/one_click_checkout/address/ui/components/AddressFormBuilder.svelte
  app/modules/one_click_checkout/address/ui/elements/CountryField.svelte
  app/modules/one_click_checkout/address/ui/elements/StateSearchField.svelte
  app/modules/one_click_checkout/address/ui/elements/Tag.svelte
  app/modules/one_click_checkout/contact_widget/icons/user.js
  app/modules/one_click_checkout/coupons/icons/order.js
  app/modules/ui/components/Field.svelte
  app/modules/ui/icons/payment-methods/index.js
Owners: @razorpay/Checkout-1cc

Fix(V1.5): Double CTA Bug on applying offer (#3410)
  app/js/checkout-frame/session.js
  app/modules/ui/components/offers/index.svelte
Owners: @razorpay/Checkout-CX

fix: cta view details issue and cta offer issue
  app/modules/one_click_checkout/cta/index.svelte
  app/modules/ui/components/offers/index.svelte
Owners: @razorpay/Checkout-1cc

(styles): Improved Tooltip styles
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
Owners: @razorpay/Checkout-1cc

1CC [FEAT] : Dropdown Enhancements (#3411)
  app/_templates/theme.jst
  app/css/iframe.styl
  app/modules/checkoutframe/icons.js
  app/modules/ui/elements/SearchModal.svelte
Owners: none

feat: UPI customized for v1.5 1cc
  app/_templates/theme.jst
  app/modules/i18n/bundles/en.js
  app/modules/ui/elements/Downtime/Alert.svelte
  app/modules/ui/elements/Downtime/Callout.svelte
  app/modules/ui/labels/qr.js
  app/modules/ui/tabs/qr/index.svelte
Owners: none

pr fix
  app/modules/ui/elements/Downtime/Alert.svelte
Owners: none

pr fix
  app/modules/ui/elements/Downtime/Alert.svelte
Owners: none
