Repository razorpay/checkout-demo-extension, changes with the owners that .github/CODEOWNERS names for each.
All owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc, @razorpay/QA

fix: sty
  app/checkout.styl
Owners: none

remove modal methods
  app/js/checkout-frame/session.js
  app/js/lib/modal.js
  app/modules/ui/components/MainModal/helper.ts
  app/modules/ui/components/MainModal/index.svelte
Owners: @razorpay/Checkout-CX

refactor: cleanup theme
  .gitignore
  app/js/checkout-frame/init.js
  app/js/checkout-frame/session.js
  app/js/razorpay/init.js
  app/modules/checkoutframe/components/covidWrap.js
  app/modules/checkoutframe/downtimes/alert.js
  app/templates/modal.js
  app/templates/theme.js
  gulpfile.js
  rollup.config.js
  scripts/clean.sh
Owners: @razorpay/Checkout-CX

fix: remove template
  app/templates/modal.js
  app/templates/theme.js
Owners: none

(chors): Removed console statement
  app/modules/ui/tabs/home/NewMethodsList.svelte
Owners: none

pass onclose handler to mainmodal
  app/js/checkout-frame/session.js
  app/modules/ui/components/MainModal/helper.ts
Owners: @razorpay/Checkout-CX

add missing import
  app/modules/ui/components/MainModal/index.svelte
Owners: none

(fix): Added the missing condition
  app/modules/ui/components/MainModal/index.svelte
Owners: none

remove const usage in sessionjs
  app/js/checkout-frame/session.js
Owners: @razorpay/Checkout-CX

Added the missing elements in the MainModal
  app/modules/ui/components/MainModal/index.svelte
Owners: none

Added the Misc events (#3597)
  app/modules/one_click_checkout/analytics/constants.js
  app/modules/one_click_checkout/analytics/helpers.js
  app/modules/one_click_checkout/analytics/index.js
  app/modules/one_click_checkout/cta/analytics/index.js
  app/modules/one_click_checkout/cta/index.svelte
  app/modules/one_click_checkout/header/components/TrustedBadge.svelte
  app/modules/one_click_checkout/rtb_modal/analytics/index.js
  app/modules/one_click_checkout/rtb_modal/ui/RTBModal.svelte
  app/modules/one_click_checkout/sessionInterface.js
Owners: @razorpay/Checkout-1cc

Added the Coupon Design review (#3599)
  app/_templates/theme.jst
  app/modules/checkoutstore/theme.js
  app/modules/one_click_checkout/coupons/ui/components/CouponInput.svelte
  app/modules/one_click_checkout/coupons/ui/components/CouponItem.svelte
Owners: @razorpay/Checkout-1cc

Added the API call events (#3603)
  app/modules/analytics/misc/events.js
  app/modules/checkoutframe/customer.js
  app/modules/one_click_checkout/address/analytics/index.js
  app/modules/one_click_checkout/address/service.js
Owners: @razorpay/Checkout-1cc

Modal close icon issue in the case of absence of RTB for V1.5 1CC (#3612)
  app/modules/one_click_checkout/header/Header.svelte
Owners: @razorpay/Checkout-1cc

Added the events for Account Tab (#3542)
  app/modules/one_click_checkout/account_modal/analytics/index.js
  app/modules/one_click_checkout/account_modal/ui/AccountModal.svelte
  app/modules/one_click_checkout/account_modal/ui/AccountTab.svelte
Owners: @razorpay/Checkout-1cc

hotfix: _El missing
  app/modules/bridge/global.js
Owners: @razorpay/Checkout-CX

refactor: removed unused css
  .eslintignore
  app/modules/bridge/global.js
  app/modules/checkoutframe/index.js
  app/modules/lib/polyfill/checkoutframe.js
  app/modules/one_click_checkout/address/ui/components/AddressTab.svelte
  app/modules/one_click_checkout/otp/ui/OTP.svelte
  app/modules/trusted-badge/ui/component/TrustedBadge.svelte
  app/modules/ui/components/Field.svelte
  app/modules/ui/elements/fields/card/CvvField.svelte
  app/modules/ui/layouts/Screen.svelte
  app/modules/ui/tabs/bank-transfer/index.svelte
  app/modules/ui/tabs/card/RecurringCardsOverlay.svelte
  app/modules/ui/tabs/card/SecureCard.svelte
  app/modules/ui/tabs/emandate/index.svelte
  app/modules/ui/tabs/emi/emiscreen.svelte
  app/modules/ui/tabs/home/Method.svelte
  app/modules/ui/tabs/home/index.svelte
  app/modules/ui/tabs/otp/index.svelte
  app/modules/ui/tabs/payout/payout-instruments.svelte
  app/modules/ui/tabs/qr/index.svelte
  app/modules/ui/tabs/upi/AddANewVpa.svelte
  app/modules/ui/tabs/upi/GooglePayOmnichannel.svelte
  app/modules/ui/tabs/upi/UpiIntent.svelte
  app/modules/ui/tabs/upi/index.svelte
  cfu/rollup-plugins.js
  cfu/src/fe/implicit/_Func.js
  cfu/src/fe/implicit/global.js
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

1CC [Feat] : Events for New Address Screen (#3605)
  app/modules/one_click_checkout/address/analytics/index.js
  app/modules/one_click_checkout/address/service.js
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
  app/modules/one_click_checkout/address/ui/components/AddressFormBuilder.svelte
  app/modules/one_click_checkout/address/ui/components/AddressTab.svelte
Owners: @razorpay/Checkout-1cc

fix: label a11y fix
  app/modules/ui/elements/CardFlowSelectionRadio.svelte
  app/modules/ui/elements/fields/AddressField.svelte
Owners: none

Added the OTP events for V1.5 1CC (#3580)
  app/modules/one_click_checkout/common/middlewares/hasSavedAddress.js
  app/modules/one_click_checkout/common/otp.js
  app/modules/one_click_checkout/otp/analytics/index.js
  app/modules/one_click_checkout/otp/store.js
  app/modules/one_click_checkout/otp/ui/OTP.svelte
  app/modules/one_click_checkout/otp/ui/OTPInput.svelte
Owners: @razorpay/Checkout-1cc

Added the events for coupons list screen for V1.5 1CC (#3577)
  app/modules/one_click_checkout/coupons/analytics/index.js
  app/modules/one_click_checkout/coupons/helpers.js
  app/modules/one_click_checkout/coupons/store.js
  app/modules/one_click_checkout/coupons/ui/AvailableCoupons.svelte
  app/modules/one_click_checkout/coupons/ui/CouponsList.svelte
  app/modules/one_click_checkout/coupons/ui/components/CouponInput.svelte
  app/modules/one_click_checkout/sessionInterface.js
Owners: @razorpay/Checkout-1cc

fix(1CC): views is undefined error (#3622)
  app/modules/checkoutframe/sms_template.js
  app/modules/one_click_checkout/otp/ui/OTP.svelte
Owners: @razorpay/Checkout-1cc

Added the events for summary screen for V1.5 1CC (#3567)
  app/modules/checkoutframe/customer.js
  app/modules/one_click_checkout/account_modal/ui/AccountModal.svelte
  app/modules/one_click_checkout/address/sessionInterface.js
  app/modules/one_click_checkout/address/ui/components/SameBillingAndShipping.svelte
  app/modules/one_click_checkout/coupons/analytics/index.js
  app/modules/one_click_checkout/coupons/helpers.js
  app/modules/one_click_checkout/coupons/ui/Coupons.svelte
  app/modules/one_click_checkout/coupons/ui/components/AddressWidget.svelte
  app/modules/one_click_checkout/coupons/ui/components/AvailableCouponsButton.svelte
  app/modules/one_click_checkout/ui/Home.svelte
  app/modules/razorpay/helper.js
  app/modules/ui/tabs/home/PaymentDetails.svelte
Owners: @razorpay/Checkout-1cc

Added the Saved Address events (#3585)
  app/modules/one_click_checkout/address/analytics/index.js
  app/modules/one_click_checkout/address/billing_address/index.svelte
  app/modules/one_click_checkout/address/ui/components/SavedAddresses.svelte
Owners: @razorpay/Checkout-1cc

Feat(V1.5): Analytics for L0 payment screen (#3600)
  app/modules/analytics/home/events.js
  app/modules/one_click_checkout/summary_modal/analytics/index.js
  app/modules/one_click_checkout/summary_modal/ui/SummaryModal.svelte
  app/modules/ui/components/FeeLabel.svelte
  app/modules/ui/tabs/home/NewMethodsList.svelte
  app/modules/ui/tabs/home/RazorpayCluster.svelte
  app/modules/ui/tabs/home/helpers.js
  app/modules/ui/tabs/home/index.svelte
  app/modules/ui/tabs/home/instruments/Instrument.svelte
Owners: @razorpay/Checkout-1cc

Feat(V1.5): Added events for payments L1 screens. (#3601)
  app/modules/analytics/card/card.js
  app/modules/analytics/offers/events.js
  app/modules/lib/utils.js
  app/modules/one_click_checkout/summary_modal/analytics/index.js
  app/modules/one_click_checkout/summary_modal/ui/SummaryModal.svelte
  app/modules/ui/components/offers/index.svelte
  app/modules/ui/tabs/card/index.svelte
  app/modules/ui/tabs/netbanking/events.js
  app/modules/ui/tabs/netbanking/index.svelte
  app/modules/ui/tabs/upi/UpiIntent.svelte
  app/modules/ui/tabs/upi/events.js
  app/modules/ui/tabs/upi/index.svelte
  app/modules/ui/tabs/wallets/events.js
  app/modules/ui/tabs/wallets/index.svelte
Owners: @razorpay/Checkout-1cc

[FT]: Vernacular FTs added
  app/modules/one_click_checkout/account_modal/ui/AccountModal.svelte
  app/modules/one_click_checkout/account_modal/ui/AccountTab.svelte
  app/modules/one_click_checkout/header/components/LanguageSelection.svelte
  blackbox/actions/one-click-checkout/account-tab.js
  blackbox/actions/one-click-checkout/common.js
  blackbox/actions/one-click-checkout/vernacular.js
  blackbox/create/one-click-checkout/vernacular.js
  blackbox/tests/homescreen/vernacular/openFromAccountTab.test.js
  blackbox/tests/homescreen/vernacular/openFromHeader.test.js
Owners: @razorpay/Checkout-1cc

vernacular utility name updated
  blackbox/actions/one-click-checkout/vernacular.js
  blackbox/create/one-click-checkout/vernacular.js
Owners: none

[FT]: All coupon test cases covered
  app/modules/one_click_checkout/address/ui/components/AddressFormBuilder.svelte
  app/modules/one_click_checkout/coupons/ui/components/CouponInput.svelte
  app/modules/one_click_checkout/coupons/ui/components/CouponItem.svelte
  app/modules/one_click_checkout/coupons/ui/components/OrderWidget.svelte
  app/modules/one_click_checkout/cta/index.svelte
  app/modules/one_click_checkout/summary_modal/ui/SummaryModal.svelte
  blackbox/actions/one-click-checkout/address.js
  blackbox/actions/one-click-checkout/common.js
  blackbox/actions/one-click-checkout/coupons.js
  blackbox/create/one-click-checkout/coupons.js
  blackbox/tests/homescreen/coupons/removeCoupon.test.js
Owners: @razorpay/Checkout-1cc

FT: vernacular test skipped + redundant utility removed
  blackbox/actions/one-click-checkout/common.js
  blackbox/create/one-click-checkout/vernacular.js
Owners: none

chore: lock update
  yarn.lock
Owners: none

Feat: Updates UPI collect method description (#3626)
  app/modules/i18n/bundles/en.js
Owners: none

feat(v1.5): Analytics fixes (#3627)
  app/modules/one_click_checkout/address/constants.js
  app/modules/one_click_checkout/address/service.js
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
  app/modules/one_click_checkout/address/ui/components/AddressFormBuilder.svelte
  app/modules/one_click_checkout/analytics/metaProperties.js
  app/modules/one_click_checkout/coupons/helpers.js
  app/modules/one_click_checkout/coupons/sessionInterface.js
  app/modules/one_click_checkout/coupons/ui/Coupons.svelte
  app/modules/one_click_checkout/coupons/ui/components/CouponInput.svelte
  app/modules/ui/tabs/home/PaymentDetails.svelte
  app/modules/ui/tabs/home/index.svelte
  app/modules/ui/tabs/netbanking/index.svelte
Owners: @razorpay/Checkout-1cc

[FT]: all contact test cases covered
  app/modules/one_click_checkout/account_modal/ui/AccountModal.svelte
  app/modules/one_click_checkout/contact_widget/ContactWidget.svelte
  app/modules/one_click_checkout/otp/ui/OTP.svelte
  blackbox/actions/one-click-checkout/account-tab.js
  blackbox/actions/one-click-checkout/address.js
  blackbox/actions/one-click-checkout/contact.js
  blackbox/create/one-click-checkout/contact.js
  blackbox/tests/homescreen/contact/base.test.js
  blackbox/tests/homescreen/contact/editFromAccount.test.js
  blackbox/tests/homescreen/contact/editFromOTP.test.js
Owners: @razorpay/Checkout-1cc

[FT]: all test cases added for account tab
  app/modules/ui/tabs/home/PaymentDetails.svelte
  blackbox/actions/one-click-checkout/account-tab.js
  blackbox/actions/one-click-checkout/address.js
  blackbox/actions/one-click-checkout/common.js
  blackbox/create/one-click-checkout/account-tab.js
  blackbox/tests/homescreen/account-tab/logout.test.js
  blackbox/tests/homescreen/account-tab/logoutAll.test.js
Owners: none

common utility actions created for login/paymentSteps
  blackbox/actions/one-click-checkout/common.js
  blackbox/create/one-click-checkout/account-tab.js
  blackbox/create/one-click-checkout/contact.js
  blackbox/create/one-click-checkout/coupons.js
Owners: none

feat(APM): Add country ISO code in personalization API (#3602)
  app/modules/checkoutframe/personalization/api.js
  app/modules/checkoutstore/screens/home.js
Owners: none

[FT]: all test cases added for navigation
  app/modules/one_click_checkout/coupons/ui/Coupons.svelte
  app/modules/one_click_checkout/topbar/ui/Topbar.svelte
  blackbox/actions/one-click-checkout/navigation.js
  blackbox/create/one-click-checkout/navigation.js
  blackbox/tests/homescreen/navigation/base.test.js
  blackbox/tests/homescreen/navigation/closeOnBack.test.js
  blackbox/tests/homescreen/navigation/closeOnCross.test.js
Owners: @razorpay/Checkout-1cc

restore css animations on IE and no-animate mode (#3629)
  app/css/touch.styl
Owners: none

refactor: remove utils.js
  app/checkout.html
  app/js/checkout-frame/session.js
  app/js/lib/modal.js
  app/js/lib/util.js
  app/modules/lib/$.js
  app/modules/lib/utils.ts
  gulpfile.js
Owners: @razorpay/Checkout-CX

.github/CODEOWNERS:

# This file allows Github to automatically request reviews from
# code owners when certain files are changed.
# Ref: https://github.com/blog/2392-introducing-de-owners
#
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.


#
# Checkout Core Features : "@razorpay/Checkout-CX" team
#
app/modules/bridge/                                     @razorpay/Checkout-CX
app/modules/configurability/                            @razorpay/Checkout-CX
app/modules/trusted-badge/                              @razorpay/Checkout-CX
app/js/checkout-frame/                                  @razorpay/Checkout-CX


#
# Checkout One-Click-Checkout (1cc) Features: "@razorpay/Checkout-1cc" team
#
app/modules/one_click_checkout/                         @razorpay/Checkout-1cc

#
# Checkout Application Build/Deploy
#
.github/actions/                                        @razorpay/Checkout-CX
git-hooks/                                              @razorpay/Checkout-CX
cdn/                                                    @razorpay/Checkout-CX           @razorpay/Checkout-1cc
beta-cdn/qa/                                            @razorpay/QA                    @razorpay/Checkout-CX           @razorpay/Checkout-1cc 
beta-cdn/                                               @razorpay/Checkout-CX           @razorpay/Checkout-1cc 
dockerconf/                                             @razorpay/Checkout-CX
Dockerfile                                              @razorpay/Checkout-CX
Dockerfile.dev                                          @razorpay/Checkout-CX
gulpfile.js                                             @razorpay/Checkout-CX
jest.config.js                                          @razorpay/Checkout-CX
jest.ut.config.js                                       @razorpay/Checkout-CX
nodemon.json                                            @razorpay/Checkout-CX   
rollup.config.js                                        @razorpay/Checkout-CX
rollup.test.js                                          @razorpay/Checkout-CX
tsconfig.json                                           @razorpay/Checkout-CX
.babelrc                                                @razorpay/Checkout-CX
.eslintrc.js                                            @razorpay/Checkout-CX
