Repository razorpay/checkout-demo-extension, changes with the owners that .github/CODEOWNERS names for each.
All owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc, @razorpay/QA

.github/CODEOWNERS:

# This file allows Github to automatically request reviews from
# code owners when certain files are changed.
# Ref: https://github.com/blog/2392-introducing-de-owners
#
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.


#
# Checkout Core Features : "@razorpay/Checkout-CX" team
#
app/modules/bridge/                                     @razorpay/Checkout-CX
app/modules/configurability/                            @razorpay/Checkout-CX
app/modules/trusted-badge/                              @razorpay/Checkout-CX
app/js/checkout-frame/                                  @razorpay/Checkout-CX


#
# Checkout One-Click-Checkout (1cc) Features: "@razorpay/Checkout-1cc" team
#
app/modules/one_click_checkout/                         @razorpay/Checkout-1cc

#
# Checkout Application Build/Deploy
#
.github/actions/                                        @razorpay/Checkout-CX
git-hooks/                                              @razorpay/Checkout-CX
cdn/                                                    @razorpay/Checkout-CX           @razorpay/Checkout-1cc
beta-cdn/qa/                                            @razorpay/QA                    @razorpay/Checkout-CX           @razorpay/Checkout-1cc 
beta-cdn/                                               @razorpay/Checkout-CX           @razorpay/Checkout-1cc 
dockerconf/                                             @razorpay/Checkout-CX
Dockerfile                                              @razorpay/Checkout-CX
Dockerfile.dev                                          @razorpay/Checkout-CX
gulpfile.js                                             @razorpay/Checkout-CX
jest.config.js                                          @razorpay/Checkout-CX
jest.ut.config.js                                       @razorpay/Checkout-CX
nodemon.json                                            @razorpay/Checkout-CX   
rollup.config.js                                        @razorpay/Checkout-CX
rollup.test.js                                          @razorpay/Checkout-CX
tsconfig.json                                           @razorpay/Checkout-CX
.babelrc                                                @razorpay/Checkout-CX
.eslintrc.js                                            @razorpay/Checkout-CX

remove fee overlay from banktransfer (#3571)
  app/css/overlay.styl
  app/css/touch.styl
  app/css/upi.styl
  app/js/checkout-frame/session.js
  app/modules/checkoutframe/components/index.js
  app/modules/checkoutframe/discreet.js
  app/modules/navstack/Overlay.svelte
  app/modules/navstack/index.svelte
  app/modules/ui/components/FeeBearer/index.js
  app/modules/ui/components/FeeBearer/index.svelte
  app/modules/ui/tabs/bank-transfer/index.svelte
  app/modules/ui/tabs/qr/index.svelte
Owners: @razorpay/Checkout-CX

fix(International): Render raw amount in header (#3586)
  app/modules/ui/tabs/international/index.svelte
Owners: none

improvement: remove global usage of _El (#3547)
  .eslintrc.js
  app/modules/actions/input.js
  app/modules/bridge/index.js
  app/modules/checkoutframe/discreet.js
  app/modules/checkoutframe/emi.js
  app/modules/checkoutframe/emiplans.js
  app/modules/checkoutframe/form.js
  app/modules/checkoutframe/hacks.js
  app/modules/checkoutframe/iframe.js
  app/modules/checkoutjs/frame.js
  app/modules/checkoutjs/open.js
  app/modules/checkoutstore/cta.js
  app/modules/lib/color.js
  app/modules/lib/utils.js
  app/modules/navstack/Overlay.svelte
  app/modules/payment/iframe.js
  app/modules/payment/index.js
  app/modules/payment/popup/index.js
  app/modules/tests/setupTest.js
  app/modules/ui/components/Field.svelte
  app/modules/ui/components/PoweredBy.svelte
  app/modules/ui/components/cancellation-modals/NetbankingCancelReasonPicker.svelte
  app/modules/ui/components/offers/index.svelte
  app/modules/ui/elements/CTA.svelte
  app/modules/ui/elements/LanguageSelection.svelte
  app/modules/ui/elements/SearchModal.svelte
  app/modules/ui/elements/Tooltip.svelte
  app/modules/ui/layouts/Bottom.svelte
  app/modules/ui/tabs/emi/emiscreen.svelte
  app/modules/ui/tabs/home/index.svelte
  app/modules/ui/tabs/home/instruments/SavedCardInstrument.svelte
  app/modules/utils/DOM.ts
  app/modules/utils/doc.ts
  cfu/scripts/rollup-injects.js
  cfu/src/fe/implicit/_El.js
  global.d.ts
Owners: @razorpay/Checkout-CX

Feat: HDFC VAS 2.0 Checkout changes (#3569)
  app/modules/checkoutstore/index.js
  app/modules/constants/hdfcVASDisplayConfig.ts
  app/modules/razorpay/helper.js
  app/modules/ui/tabs/home/index.svelte
Owners: none

Feat: Removes hardcoded merchant keys, instead uses feature flag (#3559)
  app/modules/ui/tabs/card/constant.js
  app/modules/ui/tabs/card/utils.js
Owners: none

Refactor/ setOption/ emandate helper methods (#3579)
  app/js/checkout-frame/session.js
  app/modules/checkoutframe/components/netbanking.js
  app/modules/checkoutframe/discreet.js
  app/modules/checkoutframe/index.js
  app/modules/checkoutstore/screens/netbanking.js
  app/modules/netbanking/helper.ts
  app/modules/ui/tabs/emandate/index.svelte
  app/modules/ui/tabs/home/PaymentDetails.svelte
  app/modules/ui/tabs/home/index.svelte
Owners: @razorpay/Checkout-CX

Revert "Feat: Removes hardcoded merchant keys, instead uses feature flag (#3559)" (#3587)
  app/modules/ui/tabs/card/constant.js
  app/modules/ui/tabs/card/utils.js
Owners: none

chore: give docker-build ga a name (#3588)
  .github/workflows/docker-build.yml
Owners: none

(fix): Shipping Address Fixed (#3589)
  app/modules/one_click_checkout/address/helpersExtra.js
Owners: @razorpay/Checkout-1cc

Feat(CAW): Removes key hardcoding and uses feature flag instead (#3590)
  app/modules/ui/tabs/card/constant.js
  app/modules/ui/tabs/card/utils.js
Owners: none

chore: package-update security fix (#3591)
  package.json
  yarn.lock
Owners: none

Partial cleanup of es3 utils (#3592)
  app/js/checkout-frame/session.js
  app/js/lib/modal.js
  app/js/lib/util.js
  app/modules/checkoutframe/discreet.js
  app/modules/payment/validator.js
  cfu/src/fe/implicit/_Func.js
Owners: @razorpay/Checkout-CX

modal modal to svelte
  app/_templates/modal.jst
  app/checkout.html
  app/js/checkout-frame/session.js
  app/modules/checkoutframe/discreet.js
  app/modules/ui/components/MainModal/helper.js
  app/modules/ui/components/MainModal/index.svelte
Owners: @razorpay/Checkout-CX

refactor: orderId
  app/modules/checkoutframe/nach.js
  app/modules/checkoutframe/payouts.js
  app/modules/checkoutframe/personalization/api.js
  app/modules/razorpay/helper.js
  app/modules/ui/tabs/bank-transfer/helper.ts
  app/modules/ui/tabs/nach/index.svelte
  app/modules/ui/tabs/offline-challan/__tests__/helper.js
  app/modules/ui/tabs/offline-challan/helper.js
  app/modules/ui/tabs/offline-challan/index.svelte
Owners: none

Adding friction on closing design AIs
  app/_templates/theme.jst
  app/modules/ui/components/Confirm.svelte
Owners: none

remove unused custom branding option
  app/modules/ui/components/MainModal/index.svelte
Owners: none

remove modal option from theme.jst
  app/_templates/theme.jst
  app/js/checkout-frame/session.js
  app/modules/ui/components/MainModal/helper.js
Owners: @razorpay/Checkout-CX

border-radius removed from backdrop in one-cc
  app/modules/ui/components/Backdrop.svelte
Owners: none

refactor: orderId
  app/modules/analytics/tracker.js
  app/modules/checkoutframe/index.js
  app/modules/common/Razorpay.js
  app/modules/common/helper.js
  app/modules/payment/index.js
  app/modules/payment/validator.js
Owners: none

fix: p13n api
  app/modules/checkoutframe/personalization/api.js
Owners: none

improvement: remove rzp instance from validator
  app/modules/payment/validator.js
Owners: none

fix: use getOrderId instead of getOption
  app/modules/analytics/tracker.js
  app/modules/checkoutframe/nach.js
  app/modules/checkoutstore/methods.js
  app/modules/payment/index.js
  app/modules/payment/validator.js
  app/modules/razorpay/helper.js
  app/modules/ui/tabs/bank-transfer/NeftPrintView.svelte
  app/modules/ui/tabs/bank-transfer/index.svelte
Owners: none

fix: ut
  app/modules/ui/tabs/bank-transfer/__test__/NeftPrintView.test.js
Owners: none

fix: unit test
  app/modules/ui/tabs/bank-transfer/__test__/NeftPrintView.test.js
Owners: none

AI fixes
  app/modules/one_click_checkout/misc/i18n/en.js
  app/modules/ui/components/Confirm.svelte
Owners: @razorpay/Checkout-1cc

refactor: MainModal (#3607)
  app/modules/ui/components/MainModal/helper.ts
  app/modules/ui/components/MainModal/index.svelte
Owners: none

AI changes
  app/modules/ui/components/Confirm.svelte
Owners: none

(feat): Added Native OTP logo support (#3593)
  app/js/checkout-frame/session.js
Owners: @razorpay/Checkout-CX

improvement: theme.jst migration
  .prettierrc
  app/_templates/theme.jst
  app/checkout.html
  app/js/checkout-frame/session.js
  app/modules/card/ui/component/saved-card-cta.svelte
  app/modules/checkoutstore/theme.js
  app/modules/one_click_checkout/address/sessionInterface.js
  app/modules/one_click_checkout/otp/sessionInterface.js
  app/modules/one_click_checkout/sessionInterface.js
  app/modules/ui/components/MainModal/index.svelte
  app/modules/ui/components/UserDetailsStrip.svelte
  app/modules/ui/components/covid-donations/index.svelte
  app/modules/ui/components/rewards/Icon.svelte
  app/modules/ui/elements/Downtime/Alert.svelte
  app/modules/ui/tabs/card/index.svelte
  app/modules/ui/tabs/cardless-emi/index.svelte
  app/modules/ui/tabs/emandate/index.svelte
  app/modules/ui/tabs/home/Method.svelte
  app/modules/ui/tabs/home/instruments/RadioInstrument.svelte
  app/modules/ui/tabs/home/instruments/SavedCardInstrument.svelte
  app/modules/ui/tabs/international/index.svelte
  app/modules/ui/tabs/upi/AddANewVpa.svelte
  app/modules/ui/tabs/upi/UpiIntent.svelte
  app/modules/ui/tabs/upi/index.svelte
  app/modules/utils/CSSVar.ts
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

improvement: theme.jst with ie polyfill
  app/checkout.html
  app/checkout.styl
  app/js/checkout-frame/session.js
  app/modules/checkoutstore/theme.js
  app/modules/ui/components/MainModal/index.svelte
  app/modules/utils/CSSVar.ts
  package.json
  yarn.lock
Owners: @razorpay/Checkout-CX

fix: sessionjs
  app/js/checkout-frame/session.js
Owners: @razorpay/Checkout-CX

fix: undo prettier
  .prettierrc
  app/js/checkout-frame/session.js
Owners: @razorpay/Checkout-CX

fix: undo prettier changes
  app/modules/checkoutstore/theme.js
  app/modules/one_click_checkout/sessionInterface.js
  app/modules/ui/components/MainModal/index.svelte
  app/modules/ui/components/UserDetailsStrip.svelte
  app/modules/ui/elements/Downtime/Alert.svelte
  app/modules/ui/tabs/card/index.svelte
  app/modules/ui/tabs/cardless-emi/index.svelte
  app/modules/ui/tabs/emandate/index.svelte
  app/modules/ui/tabs/home/Method.svelte
  app/modules/ui/tabs/home/instruments/RadioInstrument.svelte
  app/modules/ui/tabs/home/instruments/SavedCardInstrument.svelte
  app/modules/ui/tabs/international/index.svelte
  app/modules/ui/tabs/upi/AddANewVpa.svelte
  app/modules/ui/tabs/upi/UpiIntent.svelte
  app/modules/ui/tabs/upi/index.svelte
Owners: @razorpay/Checkout-1cc

fix: ut
  app/js/checkout-frame/session.js
  app/modules/card/ui/component/__test__/saved-card-cta.test.js
  app/modules/tests/__mocks__/theme.js
  app/modules/tests/setupTest.js
Owners: @razorpay/Checkout-CX

remove popup window error handler (#3609)
  app/modules/payment/popup/template.js
Owners: none

fix: remove compiletemplate
  gulpfile.js
  package.json
  scripts/dot/dot.js
  scripts/dot/index.js
Owners: @razorpay/Checkout-CX

move popup js transitions to css (#3610)
  app/modules/payment/popup/popupStyle.js
  app/modules/payment/popup/template.js
Owners: none

move modal to svelte (#3595)
  app/_templates/modal.jst
  app/_templates/theme.jst
  app/checkout.html
  app/js/checkout-frame/session.js
  app/modules/checkoutframe/discreet.js
  app/modules/ui/components/MainModal/helper.ts
  app/modules/ui/components/MainModal/index.svelte
Owners: @razorpay/Checkout-CX

Create checkout.styl
  app/checkout.styl
Owners: none

hotfix:p13n issue
  app/modules/ui/tabs/home/index.svelte
Owners: none
