Repository razorpay/checkout-demo-extension, changes with the owners that .github/CODEOWNERS names for each.
All owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc, @razorpay/QA

better comments
  app/modules/one_click_checkout/address/service.js
Owners: @razorpay/Checkout-1cc

(fix): Icon issue fixed (#3495)
  app/css/modal.styl
Owners: none

Feat(V1.5): Decouple font loading from API (#3480)
  .github/workflows/beta-cdn.yml
  app/_templates/theme.jst
  app/checkout.html
  app/js/checkout-frame/session.js
  app/modules/checkoutframe/discreet.js
  app/modules/common/urls.js
  cdn/fonts/Inter-Bold.ttf
  cdn/fonts/Inter-Light.ttf
  cdn/fonts/Inter-Medium.ttf
  cdn/fonts/Inter-SemiBold.ttf
  cdn/fonts/Inter.ttf
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

dropdown icon fix + skip OTP missing fix
  app/modules/one_click_checkout/common/details/constants.js
  app/modules/ui/components/Field.svelte
Owners: @razorpay/Checkout-1cc

Native Otp hearder changes (#3490)
  app/js/checkout-frame/session.js
  app/modules/one_click_checkout/topbar/helper.js
  app/modules/one_click_checkout/topbar/store.js
  app/modules/one_click_checkout/topbar/ui/Topbar.svelte
  app/modules/ui/tabs/emi/emiplans.svelte
  app/modules/ui/tabs/home/PaymentDetails.svelte
  app/modules/ui/tabs/otp/index.svelte
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

Toast positioning for V1.5 1CC (#3482)
  app/modules/one_click_checkout/Toast/index.js
  app/modules/one_click_checkout/Toast/ui/Toast.svelte
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
  app/modules/one_click_checkout/coupons/helpers.js
  app/modules/ui/tabs/home/index.svelte
Owners: @razorpay/Checkout-1cc

Summary total amount bug fix
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
Owners: @razorpay/Checkout-1cc

(fix): Solved AI (#3493)
  app/modules/ui/tabs/wallets/index.svelte
Owners: none

Resolved the build failure issue
  app/js/checkout-frame/session.js
  app/modules/one_click_checkout/sessionInterface.js
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

Fix(V1.5): Fix cardless emi bug (#3500)
  app/js/checkout-frame/session.js
  app/modules/checkoutstore/screens/otp.js
  app/modules/ui/tabs/emi/emiplans.svelte
  app/modules/ui/tabs/otp/index.svelte
Owners: @razorpay/Checkout-CX

Fix(V1.5): Wallet OTP Page Fix (#3502)
  app/js/checkout-frame/session.js
  app/modules/ui/tabs/otp/index.svelte
  app/modules/ui/tabs/wallets/index.svelte
Owners: @razorpay/Checkout-CX

Fix(V1.5): Add shipping charges toast (#3481)
  app/js/checkout-frame/session.js
  app/modules/one_click_checkout/address/i18n/en.js
  app/modules/one_click_checkout/address/ui/Address.svelte
  app/modules/ui/tabs/home/index.svelte
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

fix(V1.5): COD Payment Bug (#3498)
  app/modules/ui/tabs/home/index.svelte
  package.json
Owners: none

fix(V1.5): Native OTP CTA Bug fix (#3505)
  app/js/checkout-frame/session.js
  app/modules/checkoutstore/screens/otp.js
  app/modules/one_click_checkout/cta/i18n/en.js
  app/modules/one_click_checkout/cta/i18n/index.js
  app/modules/ui/tabs/otp/index.svelte
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

Resolved the delivery charge issue for non serviceability address (#3504)
  app/modules/one_click_checkout/address/sessionInterface.js
  app/modules/one_click_checkout/coupons/ui/components/OrderWidget.svelte
Owners: @razorpay/Checkout-1cc

1CC [Feat]: CSS DATs (#3503)
  app/_templates/theme.jst
  app/css/modal.styl
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
  app/modules/one_click_checkout/address/ui/components/AddressFormBuilder.svelte
  app/modules/one_click_checkout/address/ui/elements/Tag.svelte
  app/modules/one_click_checkout/common/ui/WrappedInput.svelte
  app/modules/one_click_checkout/contact_widget/ContactWidget.svelte
  app/modules/one_click_checkout/coupons/ui/components/CouponItem.svelte
  app/modules/one_click_checkout/cta/index.svelte
  app/modules/one_click_checkout/header/Header.svelte
  app/modules/one_click_checkout/header/components/LanguageSelection.svelte
  app/modules/one_click_checkout/header/components/TrustedBadge.svelte
  app/modules/one_click_checkout/otp/ui/OTP.svelte
  app/modules/one_click_checkout/topbar/ui/Topbar.svelte
  app/modules/ui/components/Field.svelte
  app/modules/ui/tabs/home/PaymentDetails.svelte
  app/modules/ui/tabs/upi/AddANewVpa.svelte
Owners: @razorpay/Checkout-1cc

Account Tab positioning for V1.5 non 1CC screens (#3436)
  app/js/checkout-frame/session.js
  app/modules/checkoutstore/screens/card.js
  app/modules/one_click_checkout/account_modal/helper.js
  app/modules/one_click_checkout/account_modal/store.js
  app/modules/one_click_checkout/account_modal/ui/AccountTab.svelte
  app/modules/one_click_checkout/address/ui/components/AddressTab.svelte
  app/modules/one_click_checkout/helper.js
  app/modules/ui/layouts/Screen.svelte
  app/modules/ui/tabs/card/AddCardView.svelte
  app/modules/ui/tabs/card/index.svelte
  app/modules/ui/tabs/cardless-emi/index.svelte
  app/modules/ui/tabs/emi/emiplans.svelte
  app/modules/ui/tabs/home/index.svelte
  app/modules/ui/tabs/international/index.svelte
  app/modules/ui/tabs/netbanking/index.svelte
  app/modules/ui/tabs/otp/index.svelte
  app/modules/ui/tabs/paylater/index.svelte
  app/modules/ui/tabs/upi/index.svelte
  app/modules/ui/tabs/wallets/index.svelte
  package.json
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

Fix(V1.5): Toast issue (#3506)
  app/modules/one_click_checkout/address/ui/Address.svelte
Owners: @razorpay/Checkout-1cc

(fix): UPI Field Issue fixed (#3508)
  app/modules/ui/components/Field.svelte
  app/modules/ui/tabs/upi/AddANewVpa.svelte
Owners: none

Fix(V1.5) - Offers Fix for OTP Screen (#3509)
  app/js/checkout-frame/session.js
Owners: @razorpay/Checkout-CX

fix: serviceable icon for autofill (#3510)
  app/modules/ui/components/Field.svelte
Owners: none

feat: Integration for CyberSource fingerprint javascript library (#3424)
  .eslintrc.js
  app/modules/checkoutstore/index.js
  app/modules/common/card.js
  app/modules/ui/tabs/card/index.svelte
  cfu/rollup-plugins.js
Owners: @razorpay/Checkout-CX

PR fixes: z-index removed from dropdown icon
  app/modules/ui/components/Field.svelte
Owners: none

PR fixes: z-index removed from dropdown icon (#3512)
  app/modules/ui/components/Field.svelte
Owners: none

Revert "feat: Integration for CyberSource fingerprint javascript library (#3424)" (#3511)
  .eslintrc.js
  app/modules/checkoutstore/index.js
  app/modules/common/card.js
  app/modules/ui/tabs/card/index.svelte
  cfu/rollup-plugins.js
Owners: @razorpay/Checkout-CX

QA fixes: payment details input validation fix
  app/modules/ui/components/ContactField.svelte
  app/modules/ui/tabs/home/PaymentDetails.svelte
Owners: none

(feat): did the needful changes (#3519)
  app/modules/ui/tabs/home/Method.svelte
Owners: none

validation checks on input in contact field
  app/modules/ui/tabs/home/PaymentDetails.svelte
Owners: none

QA fixes: payment details input validation fix (#3517)
  app/modules/ui/components/ContactField.svelte
  app/modules/ui/tabs/home/PaymentDetails.svelte
Owners: none

Fix(V1.5) : Account Details CTA and header bug (#3520)
  app/modules/one_click_checkout/sessionInterface.js
  app/modules/ui/tabs/home/index.svelte
Owners: @razorpay/Checkout-1cc

Fixed the scroll issue in method screen (#3514)
  app/modules/one_click_checkout/address/ui/components/AddressTab.svelte
  app/modules/one_click_checkout/coupons/ui/Coupons.svelte
  app/modules/one_click_checkout/helper.js
  app/modules/ui/tabs/card/index.svelte
  app/modules/ui/tabs/home/index.svelte
Owners: @razorpay/Checkout-1cc

(chors): Build fixed
  app/modules/one_click_checkout/sessionInterface.js
Owners: @razorpay/Checkout-1cc

validation fixes in address form
  app/modules/one_click_checkout/common/ui/WrappedInput.svelte
Owners: @razorpay/Checkout-1cc

Language selection fix (#3521)
  app/modules/one_click_checkout/account_modal/ui/AccountModal.svelte
Owners: @razorpay/Checkout-1cc

Loader Language selection fix (#3524)
  app/modules/one_click_checkout/account_modal/ui/AccountModal.svelte
  app/modules/one_click_checkout/account_modal/ui/Loader.svelte
Owners: @razorpay/Checkout-1cc

code improvement for better semantics
  app/modules/one_click_checkout/account_modal/ui/AccountModal.svelte
Owners: @razorpay/Checkout-1cc

Poc ab test (#3483)
  app/modules/checkoutjs/frame.js
  app/modules/checkoutjs/open.js
Owners: none

Remove dot (#3528)
  app/_templates/curtain.jst
  app/_templates/emi.jst
  app/_templates/modal.jst
  app/checkout.html
  app/css/components/curtain.styl
  app/css/touch.styl
  app/js/checkout-frame/init.js
  app/modules/checkoutframe/discreet.js
  app/modules/components/README.md
  app/modules/components/curtain.js
Owners: @razorpay/Checkout-CX

spacing between contact code and number added
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
Owners: @razorpay/Checkout-1cc

1CC [Feat]: Scroll bar issue fix (#3530)
  app/css/modal.styl
Owners: none

.github/CODEOWNERS:

# This file allows Github to automatically request reviews from
# code owners when certain files are changed.
# Ref: https://github.com/blog/2392-introducing-de-owners
#
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.


#
# Checkout Core Features : "@razorpay/Checkout-CX" team
#
app/modules/bridge/                                     @razorpay/Checkout-CX
app/modules/configurability/                            @razorpay/Checkout-CX
app/modules/trusted-badge/                              @razorpay/Checkout-CX
app/js/checkout-frame/                                  @razorpay/Checkout-CX


#
# Checkout One-Click-Checkout (1cc) Features: "@razorpay/Checkout-1cc" team
#
app/modules/one_click_checkout/                         @razorpay/Checkout-1cc

#
# Checkout Application Build/Deploy
#
.github/actions/                                        @razorpay/Checkout-CX
git-hooks/                                              @razorpay/Checkout-CX
cdn/                                                    @razorpay/Checkout-CX           @razorpay/Checkout-1cc
beta-cdn/qa/                                            @razorpay/QA                    @razorpay/Checkout-CX           @razorpay/Checkout-1cc 
beta-cdn/                                               @razorpay/Checkout-CX           @razorpay/Checkout-1cc 
dockerconf/                                             @razorpay/Checkout-CX
Dockerfile                                              @razorpay/Checkout-CX
Dockerfile.dev                                          @razorpay/Checkout-CX
gulpfile.js                                             @razorpay/Checkout-CX
jest.config.js                                          @razorpay/Checkout-CX
jest.ut.config.js                                       @razorpay/Checkout-CX
nodemon.json                                            @razorpay/Checkout-CX   
rollup.config.js                                        @razorpay/Checkout-CX
rollup.test.js                                          @razorpay/Checkout-CX
tsconfig.json                                           @razorpay/Checkout-CX
.babelrc                                                @razorpay/Checkout-CX
.eslintrc.js                                            @razorpay/Checkout-CX
