Repository razorpay/checkout-demo-extension, changes with the owners that .github/CODEOWNERS names for each.
All owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc, @razorpay/QA

PR fixes: variable created for 1cc-check in Alert
  app/modules/ui/elements/Downtime/Alert.svelte
Owners: none

bugfixes: unserviceable addresses editable fix + unserviceable toast for pre-fetched pincode fix
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
Owners: @razorpay/Checkout-1cc

PR fixes: fixed height removed from downtime Alert
  app/modules/ui/elements/Downtime/Alert.svelte
Owners: none

(feat): Tooltip Enhancements Done (#3415)
  app/modules/one_click_checkout/address/i18n/en.js
  app/modules/one_click_checkout/address/i18n/labels.js
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
  app/modules/one_click_checkout/helper.js
Owners: @razorpay/Checkout-1cc

PR fix: icon revert
  app/modules/ui/elements/Downtime/Alert.svelte
Owners: none

user redirected to Add address if the user has only 1 address
  app/modules/one_click_checkout/coupons/ui/Coupons.svelte
Owners: @razorpay/Checkout-1cc

Fix: Adding scroll to Issuer network list and using long bank names i… (#3419)
  app/modules/ui/tabs/card/RecurringCardsOverlay.svelte
  app/modules/ui/tabs/card/__test__/RecurringCardsOverlay.test.js
Owners: none

Feat: Disabeling Recurring Cards callout and Card validation for merchants who are enabled on SI-HUB as 90% issuer coverage is there
  app/modules/ui/elements/fields/card/NumberField.svelte
  app/modules/ui/tabs/card/constant.js
  app/modules/ui/tabs/card/index.svelte
  app/modules/ui/tabs/card/utils.js
Owners: none

Fix: Updated descriptive comments
  app/modules/ui/tabs/card/index.svelte
Owners: none

fix: change cta font weight (#3418)
  app/modules/one_click_checkout/cta/i18n/en.js
  app/modules/one_click_checkout/cta/index.svelte
Owners: @razorpay/Checkout-1cc

PR fixes: EditIcon separated from addressBox
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
  app/modules/one_click_checkout/address/ui/components/EditIcon.svelte
Owners: @razorpay/Checkout-1cc

1CC [Feat]: Adding new input fields for standard checkout (#3399)
  app/_templates/modal.jst
  app/_templates/theme.jst
  app/css/iframe.styl
  app/css/modal.styl
  app/css/savedcards.styl
  app/modules/one_click_checkout/address/i18n/en.js
  app/modules/ui/components/Field.svelte
  app/modules/ui/elements/fields/card/CvvField.svelte
  app/modules/ui/elements/fields/card/ExpiryField.svelte
  app/modules/ui/elements/fields/card/NameField.svelte
  app/modules/ui/elements/fields/card/NumberField.svelte
  app/modules/ui/tabs/card/AddCardView.svelte
  app/modules/ui/tabs/card/savedcard.svelte
  app/modules/ui/tabs/home/instruments/SavedCardInstrument.svelte
  app/modules/ui/tabs/netbanking/index.svelte
  app/modules/ui/tabs/upi/AddANewVpa.svelte
Owners: @razorpay/Checkout-1cc

feat: autocomplete input scrolled into view on focus / input
  app/modules/one_click_checkout/address/ui/components/AddressFormBuilder.svelte
  app/modules/one_click_checkout/address/ui/components/AutoCompleteInput.svelte
  app/modules/one_click_checkout/common/ui/WrappedInput.svelte
  app/modules/one_click_checkout/helper.js
Owners: @razorpay/Checkout-1cc

chore(logo): idib_c logo added (#3423)
  cdn/bank/IDIB_C.gif
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

feat: native OTP fixed for one cc
  app/modules/ui/tabs/otp/index.svelte
Owners: none

PR fixes: absolute import removed
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
Owners: @razorpay/Checkout-1cc

OTP input browser suggestion removed
  app/modules/one_click_checkout/otp/ui/OTPInput.svelte
Owners: @razorpay/Checkout-1cc

hotfix(SI-5450): Start polling for specific merchant to avoid SDK payload waiting.
  app/js/checkout-frame/session.js
  app/modules/payment/coproto.js
Owners: @razorpay/Checkout-CX

PR fixes: css changes
  app/css/otp.styl
  app/modules/ui/tabs/otp/index.svelte
Owners: none

1CC [Fix]: Fixed the warning (#3432)
  app/modules/ui/components/Field.svelte
Owners: none

fix: import views (#3430)
  app/modules/one_click_checkout/otp/ui/OTP.svelte
Owners: @razorpay/Checkout-1cc

fix: smoooth scroll on summary screen (#3428)
  app/modules/one_click_checkout/coupons/ui/Coupons.svelte
  app/modules/ui/layouts/Screen.svelte
Owners: @razorpay/Checkout-1cc

address and OTP ai fixes
  app/modules/components/LinkButton.svelte
  app/modules/one_click_checkout/address/sessionInterface.js
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
  app/modules/one_click_checkout/address/ui/components/EditIcon.svelte
  app/modules/one_click_checkout/otp/ui/OTP.svelte
  app/modules/ui/tabs/otp/index.svelte
Owners: @razorpay/Checkout-1cc

edit icon color fix
  app/modules/one_click_checkout/otp/ui/OTP.svelte
Owners: @razorpay/Checkout-1cc

Fix(V1.5): Loader Fixes (#3414)
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
  app/modules/one_click_checkout/address/ui/components/AddressTab.svelte
  app/modules/one_click_checkout/loader/Loader.svelte
Owners: @razorpay/Checkout-1cc

Feat(V1.5): EMI Changes (#3435)
  app/modules/one_click_checkout/cta/i18n/en.js
  app/modules/one_click_checkout/cta/i18n/index.js
  app/modules/ui/tabs/card/index.svelte
  app/modules/ui/tabs/cardless-emi/index.svelte
  app/modules/ui/tabs/emi/emiplancards.svelte
  app/modules/ui/tabs/emi/emiplans.svelte
Owners: @razorpay/Checkout-1cc

PR fixes: css classes formatted
  app/modules/components/LinkButton.svelte
Owners: none

(fix): Design Reviews Fixed (#3440)
  app/modules/one_click_checkout/address/i18n/en.js
  app/modules/one_click_checkout/header/Header.svelte
  app/modules/ui/components/ContactField.svelte
  app/modules/ui/components/Field.svelte
Owners: @razorpay/Checkout-1cc

1CC [Fix] : Fixed bug of tooltip (#3446)
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
Owners: @razorpay/Checkout-1cc

Added the Section Title & Modified Tab title in Edit detail screen for V1.5 1CC (#3441)
  app/modules/one_click_checkout/common/details/config.js
  app/modules/one_click_checkout/contact_widget/i18n/en.js
  app/modules/one_click_checkout/contact_widget/i18n/labels.js
  app/modules/ui/tabs/home/PaymentDetails.svelte
Owners: @razorpay/Checkout-1cc

Disable Account Tab on coupon Listing screen for v1.5 (#3439)
  app/modules/one_click_checkout/coupons/ui/CouponsList.svelte
  app/modules/ui/layouts/Screen.svelte
Owners: @razorpay/Checkout-1cc

Removed the Total section in order widget if it has only Price Value for V1.5 1CC (#3443)
  app/modules/one_click_checkout/coupons/ui/components/OrderWidget.svelte
Owners: @razorpay/Checkout-1cc

Fixed V1.5 the Bugs (#3412)
  app/js/checkout-frame/session.js
  app/modules/checkoutstore/screens/home.js
  app/modules/one_click_checkout/address/sessionInterface.js
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
  app/modules/one_click_checkout/address/ui/components/SavedAddresses.svelte
  app/modules/one_click_checkout/charges/store.js
  app/modules/one_click_checkout/common/details/config.js
  app/modules/one_click_checkout/common/details/helpers.js
  app/modules/one_click_checkout/coupons/ui/Coupons.svelte
  app/modules/one_click_checkout/coupons/ui/components/OrderWidget.svelte
  app/modules/one_click_checkout/sessionInterface.js
  app/modules/one_click_checkout/topbar/ui/Topbar.svelte
  app/modules/ui/components/offers/index.svelte
  app/modules/ui/tabs/home/NewMethodsList.svelte
  app/modules/ui/tabs/home/PaymentDetails.svelte
  app/modules/ui/tabs/home/index.svelte
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

Fix(V1.5): Change UI Fixes (#3448)
  app/modules/one_click_checkout/cta/i18n/en.js
  app/modules/one_click_checkout/cta/i18n/index.js
  app/modules/one_click_checkout/cta/index.svelte
  app/modules/ui/tabs/home/PaymentDetails.svelte
Owners: @razorpay/Checkout-1cc

Fix(V1.5) - Edit Contact/Logout Bug Fixes (#3445)
  app/modules/one_click_checkout/common/constants.js
  app/modules/one_click_checkout/common/details/helpers.js
  app/modules/one_click_checkout/helper.js
  app/modules/one_click_checkout/otp/ui/OTP.svelte
  app/modules/one_click_checkout/sessionInterface.js
  app/modules/one_click_checkout/store.js
  app/modules/one_click_checkout/ui/Home.svelte
Owners: @razorpay/Checkout-1cc

Enhanced the Order Summary bottom sheet for 1CC V1.5 (#3447)
  app/_templates/theme.jst
  app/modules/one_click_checkout/account_modal/ui/AccountModal.svelte
  app/modules/one_click_checkout/summary_modal/i18n/en.js
  app/modules/one_click_checkout/summary_modal/ui/SummaryModal.svelte
Owners: @razorpay/Checkout-1cc

Design AI: loader fix + payment-method font weight fix
  app/modules/one_click_checkout/loader/Loader.svelte
  app/modules/ui/tabs/home/Method.svelte
Owners: @razorpay/Checkout-1cc

1CC [Feat]: Fixed a few design AIs (#3449)
  app/_templates/theme.jst
  app/modules/one_click_checkout/account_modal/ui/AccountModal.svelte
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
  app/modules/one_click_checkout/address/ui/components/AddressFormBuilder.svelte
  app/modules/one_click_checkout/header/Header.svelte
  app/modules/ui/components/Field.svelte
Owners: @razorpay/Checkout-1cc

fix: skip tests
  Dockerfile
Owners: @razorpay/Checkout-CX

(fix): Fixed the merge conflict
  app/modules/one_click_checkout/account_modal/ui/AccountModal.svelte
Owners: @razorpay/Checkout-1cc

.github/CODEOWNERS:

# This file allows Github to automatically request reviews from
# code owners when certain files are changed.
# Ref: https://github.com/blog/2392-introducing-de-owners
#
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.


#
# Checkout Core Features : "@razorpay/Checkout-CX" team
#
app/modules/bridge/                                     @razorpay/Checkout-CX
app/modules/configurability/                            @razorpay/Checkout-CX
app/modules/trusted-badge/                              @razorpay/Checkout-CX
app/js/checkout-frame/                                  @razorpay/Checkout-CX


#
# Checkout One-Click-Checkout (1cc) Features: "@razorpay/Checkout-1cc" team
#
app/modules/one_click_checkout/                         @razorpay/Checkout-1cc

#
# Checkout Application Build/Deploy
#
.github/actions/                                        @razorpay/Checkout-CX
git-hooks/                                              @razorpay/Checkout-CX
cdn/                                                    @razorpay/Checkout-CX           @razorpay/Checkout-1cc
beta-cdn/qa/                                            @razorpay/QA                    @razorpay/Checkout-CX           @razorpay/Checkout-1cc 
beta-cdn/                                               @razorpay/Checkout-CX           @razorpay/Checkout-1cc 
dockerconf/                                             @razorpay/Checkout-CX
Dockerfile                                              @razorpay/Checkout-CX
Dockerfile.dev                                          @razorpay/Checkout-CX
gulpfile.js                                             @razorpay/Checkout-CX
jest.config.js                                          @razorpay/Checkout-CX
jest.ut.config.js                                       @razorpay/Checkout-CX
nodemon.json                                            @razorpay/Checkout-CX   
rollup.config.js                                        @razorpay/Checkout-CX
rollup.test.js                                          @razorpay/Checkout-CX
tsconfig.json                                           @razorpay/Checkout-CX
.babelrc                                                @razorpay/Checkout-CX
.eslintrc.js                                            @razorpay/Checkout-CX
