Repository razorpay/checkout-demo-extension, changes with the owners that .github/CODEOWNERS names for each.
All owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc, @razorpay/QA

Account tab positioning for V1.5 1CC screens (#3425)
  app/js/checkout-frame/session.js
  app/modules/checkoutframe/discreet.js
  app/modules/one_click_checkout/account_modal/helper.js
  app/modules/one_click_checkout/account_modal/store.js
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
  app/modules/one_click_checkout/address/ui/components/AddressTab.svelte
  app/modules/one_click_checkout/address/ui/components/SavedAddresses.svelte
  app/modules/one_click_checkout/coupons/ui/Coupons.svelte
  app/modules/one_click_checkout/coupons/ui/CouponsList.svelte
  app/modules/one_click_checkout/helper.js
  app/modules/one_click_checkout/ui/Home.svelte
  app/modules/ui/layouts/Screen.svelte
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

1CC [enhancement]: Added limit to landmark field characters (#3420)
  app/modules/one_click_checkout/address/ui/components/AddressFormBuilder.svelte
  app/modules/one_click_checkout/address/ui/components/AutoCompleteInput.svelte
Owners: @razorpay/Checkout-1cc

chore(app): remove unnecessary consoles from blackbox/ (#3458)
  blackbox/actions/checkout.js
  blackbox/create/saved-vpa.js
  blackbox/tests/custom/init.js
  blackbox/tests/custom/unit/submitOTP.test.js
  blackbox/tests/homescreen/TPV/feebearerPartialPayments.test.js
Owners: none

(feat): Handle Landmark Validation
  app/modules/one_click_checkout/address/ui/components/AddressFormBuilder.svelte
  app/modules/one_click_checkout/address/ui/components/AutoCompleteInput.svelte
Owners: @razorpay/Checkout-1cc

headings and spacings fixed for standard cx
  app/css/components/slotted-radio.styl
  app/css/modal.styl
  app/css/savedcards.styl
  app/modules/i18n/bundles/en.js
  app/modules/ui/labels/card.js
  app/modules/ui/tabs/card/AddCardView.svelte
  app/modules/ui/tabs/card/index.svelte
  app/modules/ui/tabs/home/Method.svelte
  app/modules/ui/tabs/home/index.svelte
  app/modules/ui/tabs/paylater/index.svelte
  app/modules/ui/tabs/qr/index.svelte
  app/modules/ui/tabs/upi/index.svelte
  app/modules/ui/tabs/wallets/index.svelte
Owners: none

resend button UI fixes
  app/modules/components/LinkButton.svelte
  app/modules/one_click_checkout/otp/ui/OTP.svelte
  app/modules/ui/tabs/otp/index.svelte
Owners: @razorpay/Checkout-1cc

Fix: Recurring callout were not visible on saved card=> Add card screen (#3290)
  app/modules/ui/tabs/card/AddCardView.svelte
  app/modules/ui/tabs/card/index.svelte
Owners: none

fix: shadow for V1.5 (#3452)
  app/modules/ui/layouts/Screen.svelte
Owners: none

1CC [Feat]: Design AIs done (#3463)
  app/modules/i18n/bundles/en.js
  app/modules/one_click_checkout/coupons/icons/close.js
  app/modules/ui/components/ContactField.svelte
  app/modules/ui/components/cancellation-modals/CancelReasonPicker.svelte
  app/modules/ui/labels/home.js
  app/modules/ui/tabs/card/AddCardView.svelte
  app/modules/ui/tabs/card/SecureCardKnowMore.svelte
  app/modules/ui/tabs/upi/AddANewVpa.svelte
Owners: @razorpay/Checkout-1cc

1CC [Feat] : Form Validations added for 1CC (#3451)
  Dockerfile
  app/modules/ui/components/Field.svelte
  app/modules/ui/components/cancellation-modals/CancelReasonPicker.svelte
  app/modules/ui/elements/fields/card/CvvField.svelte
  app/modules/ui/elements/fields/card/ExpiryField.svelte
  app/modules/ui/elements/fields/card/NameField.svelte
  app/modules/ui/elements/fields/card/NumberField.svelte
  app/modules/ui/layouts/Screen.svelte
  app/modules/ui/tabs/card/AddCardView.svelte
  app/modules/ui/tabs/netbanking/index.svelte
  app/modules/ui/tabs/upi/AddANewVpa.svelte
  app/modules/ui/tabs/upi/index.svelte
Owners: @razorpay/Checkout-CX

[CE-5377] fix: paytm deeplink issue for iOS & minor refactor (#3460)
  app/modules/analytics/tracker.js
  app/modules/payment/coproto.js
  app/modules/payment/helper.js
  app/modules/payment/index.js
  app/modules/ui/tabs/bank-transfer/__test__/helper.test.js
  app/modules/ui/tabs/home/index.svelte
Owners: none

Build Passed
  app/modules/ui/components/cancellation-modals/CancelReasonPicker.svelte
Owners: none

reverted the condition
  app/modules/ui/components/Field.svelte
Owners: none

Fix(V1.5): Use Std. Checkout CTA background color (#3455)
  app/_templates/theme.jst
Owners: none

Feat(V1.5): Toast changes for COD (#3453)
  app/modules/one_click_checkout/Toast/index.js
  app/modules/one_click_checkout/Toast/ui/Toast.svelte
  app/modules/ui/tabs/home/index.svelte
Owners: @razorpay/Checkout-1cc

bugfix: CTA NaN amount issue fixed
  app/modules/one_click_checkout/charges/store.js
Owners: @razorpay/Checkout-1cc

chore(ut code coverage): add `js/checkout-frame` and `js/lib` in report (#3472)
  jest.ut.config.js
Owners: @razorpay/Checkout-CX

Fixed the header issue on when modal is closed and opened again (#3465)
  app/modules/one_click_checkout/header/index.js
  app/modules/one_click_checkout/topbar/index.js
  app/modules/one_click_checkout/ui/Home.svelte
Owners: @razorpay/Checkout-1cc

Added the Back button on Summary screen (#3473)
  app/modules/one_click_checkout/coupons/config.js
  app/modules/one_click_checkout/sessionInterface.js
Owners: @razorpay/Checkout-1cc

design AI fixes
  app/css/savedcards.styl
  app/modules/components/LinkButton.svelte
  app/modules/ui/tabs/qr/index.svelte
Owners: none

Reset the topbar logo in Native OTP flow (#3457)
  app/js/checkout-frame/session.js
Owners: @razorpay/Checkout-CX

save address as label added for edit address form
  app/modules/one_click_checkout/address/i18n/en.js
  app/modules/one_click_checkout/address/i18n/labels.js
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
Owners: @razorpay/Checkout-1cc

(feat): Added Email Validation for 1cc (#3471)
  app/modules/ui/components/EmailField.svelte
Owners: none

Feat(Recurring): Updated strings as per new designs (#3422)
  app/modules/i18n/bundles/en.js
  app/modules/ui/labels/card.js
  app/modules/ui/tabs/card/SecureCard.svelte
  app/modules/ui/tabs/card/SecureCardKnowMore.svelte
Owners: none

preventdefault added to fix the race condition between 2 listeners which caused the shake
  app/modules/one_click_checkout/cta/index.svelte
Owners: @razorpay/Checkout-1cc

PR fix: defaulting shipping charge to zero while setting
  app/modules/one_click_checkout/address/sessionInterface.js
  app/modules/one_click_checkout/charges/store.js
Owners: @razorpay/Checkout-1cc

1CC [Feat] : Design AIs (#3476)
  app/modules/ui/elements/fields/card/CvvField.svelte
  app/modules/ui/tabs/card/index.svelte
  app/modules/ui/tabs/home/index.svelte
  app/modules/ui/tabs/netbanking/index.svelte
Owners: none

1CC [Feat] : Phone validation on edit screen (#3479)
  app/modules/ui/tabs/home/PaymentDetails.svelte
Owners: none

Spacing below Offers label in offers bottomsheet when no offer is available for a method (#3486)
  app/modules/ui/components/offers/index.svelte
Owners: none

Added the Address label on saved billing address screen (#3477)
  app/modules/one_click_checkout/address/billing_address/index.svelte
Owners: @razorpay/Checkout-1cc

Added the separator on Saved address screen on Account Tab for V1.5 1CC (#3475)
  app/modules/one_click_checkout/address/ui/components/AddressTab.svelte
Owners: @razorpay/Checkout-1cc

(feat): Hid powerby for one-cc (#3488)
  app/css/modal.styl
Owners: none

Delivery charge is missing in summary bottom sheet in add address form in V1.5 1CC (#3485)
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
Owners: @razorpay/Checkout-1cc

1CC [Feat] - Design AIs (#3470)
  app/checkout.html
  app/css/iframe.styl
  app/fonts/Inter-Medium.ttf
  app/modules/one_click_checkout/account_modal/ui/AccountModal.svelte
  app/modules/one_click_checkout/common/ui/WrappedInput.svelte
  app/modules/one_click_checkout/coupons/ui/Coupons.svelte
  app/modules/one_click_checkout/coupons/ui/CouponsList.svelte
  app/modules/one_click_checkout/coupons/ui/components/CouponInput.svelte
  app/modules/one_click_checkout/coupons/ui/components/OrderWidget.svelte
  app/modules/one_click_checkout/header/Header.svelte
  app/modules/one_click_checkout/loader/Loader.svelte
  app/modules/one_click_checkout/summary_modal/ui/SummaryModal.svelte
  app/modules/ui/elements/SearchModal.svelte
  app/modules/ui/tabs/card/SecureCardKnowMore.svelte
  app/modules/ui/tabs/home/PaymentDetails.svelte
  app/modules/ui/tabs/home/index.svelte
  app/modules/ui/tabs/upi/AddANewVpa.svelte
Owners: @razorpay/Checkout-1cc

billing address checkbox removed in unserviceable address
  app/modules/one_click_checkout/coupons/ui/components/AddressWidget.svelte
Owners: @razorpay/Checkout-1cc

css variable removed in billingAddressSameAsShipping
  app/modules/one_click_checkout/address/ui/components/SameBillingAndShipping.svelte
  app/modules/one_click_checkout/coupons/ui/components/AddressWidget.svelte
Owners: @razorpay/Checkout-1cc

(chors): Removed Unused consoles
  app/modules/ui/tabs/upi/index.svelte
Owners: none

(fix): RTB Bug
  app/modules/trusted-badge/helper/index.js
Owners: @razorpay/Checkout-CX

Resolved the spacing issue (#3492)
  app/modules/ui/tabs/emi/emiplancards.svelte
Owners: none

Promise.all replaced with Promise.allSettled in serviceability check + polyfill added
  app/modules/one_click_checkout/address/service.js
  cfu/src/fe/implicit/Promise.js
Owners: @razorpay/Checkout-1cc

.github/CODEOWNERS:

# This file allows Github to automatically request reviews from
# code owners when certain files are changed.
# Ref: https://github.com/blog/2392-introducing-de-owners
#
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.


#
# Checkout Core Features : "@razorpay/Checkout-CX" team
#
app/modules/bridge/                                     @razorpay/Checkout-CX
app/modules/configurability/                            @razorpay/Checkout-CX
app/modules/trusted-badge/                              @razorpay/Checkout-CX
app/js/checkout-frame/                                  @razorpay/Checkout-CX


#
# Checkout One-Click-Checkout (1cc) Features: "@razorpay/Checkout-1cc" team
#
app/modules/one_click_checkout/                         @razorpay/Checkout-1cc

#
# Checkout Application Build/Deploy
#
.github/actions/                                        @razorpay/Checkout-CX
git-hooks/                                              @razorpay/Checkout-CX
cdn/                                                    @razorpay/Checkout-CX           @razorpay/Checkout-1cc
beta-cdn/qa/                                            @razorpay/QA                    @razorpay/Checkout-CX           @razorpay/Checkout-1cc 
beta-cdn/                                               @razorpay/Checkout-CX           @razorpay/Checkout-1cc 
dockerconf/                                             @razorpay/Checkout-CX
Dockerfile                                              @razorpay/Checkout-CX
Dockerfile.dev                                          @razorpay/Checkout-CX
gulpfile.js                                             @razorpay/Checkout-CX
jest.config.js                                          @razorpay/Checkout-CX
jest.ut.config.js                                       @razorpay/Checkout-CX
nodemon.json                                            @razorpay/Checkout-CX   
rollup.config.js                                        @razorpay/Checkout-CX
rollup.test.js                                          @razorpay/Checkout-CX
tsconfig.json                                           @razorpay/Checkout-CX
.babelrc                                                @razorpay/Checkout-CX
.eslintrc.js                                            @razorpay/Checkout-CX
