Repository razorpay/checkout-demo-extension, changes with the owners that .github/CODEOWNERS names for each.
All owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc, @razorpay/QA

.github/CODEOWNERS:

# This file allows Github to automatically request reviews from
# code owners when certain files are changed.
# Ref: https://github.com/blog/2392-introducing-de-owners
#
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.


#
# Checkout Core Features : "@razorpay/Checkout-CX" team
#
app/modules/bridge/                                     @razorpay/Checkout-CX
app/modules/configurability/                            @razorpay/Checkout-CX
app/modules/trusted-badge/                              @razorpay/Checkout-CX
app/js/checkout-frame/                                  @razorpay/Checkout-CX


#
# Checkout One-Click-Checkout (1cc) Features: "@razorpay/Checkout-1cc" team
#
app/modules/one_click_checkout/                         @razorpay/Checkout-1cc

#
# Checkout Application Build/Deploy
#
.github/actions/                                        @razorpay/Checkout-CX
git-hooks/                                              @razorpay/Checkout-CX
cdn/                                                    @razorpay/Checkout-CX           @razorpay/Checkout-1cc
beta-cdn/qa/                                            @razorpay/QA                    @razorpay/Checkout-CX           @razorpay/Checkout-1cc 
beta-cdn/                                               @razorpay/Checkout-CX           @razorpay/Checkout-1cc 
dockerconf/                                             @razorpay/Checkout-CX
Dockerfile                                              @razorpay/Checkout-CX
Dockerfile.dev                                          @razorpay/Checkout-CX
gulpfile.js                                             @razorpay/Checkout-CX
jest.config.js                                          @razorpay/Checkout-CX
jest.ut.config.js                                       @razorpay/Checkout-CX
nodemon.json                                            @razorpay/Checkout-CX   
rollup.config.js                                        @razorpay/Checkout-CX
rollup.test.js                                          @razorpay/Checkout-CX
tsconfig.json                                           @razorpay/Checkout-CX
.babelrc                                                @razorpay/Checkout-CX
.eslintrc.js                                            @razorpay/Checkout-CX

Revert "Feat/UPI-QR L1 Desktop (#3174)" (#3241)
  app/js/checkout-frame/session.js
  app/modules/checkoutframe/discreet.js
  app/modules/i18n/bundles/en.js
  app/modules/tests/setupTest.js
  app/modules/ui/labels/upi.js
  app/modules/ui/tabs/home/index.svelte
  app/modules/ui/tabs/upi/GooglePayOmnichannel.svelte
  app/modules/ui/tabs/upi/index.svelte
  app/modules/upi/__test__/helper.test.js
  app/modules/upi/constants.js
  app/modules/upi/helper.js
  app/modules/upi/helper/index.js
  app/modules/upi/helper/qr.js
  app/modules/upi/icons/qr.js
  app/modules/upi/icons/refresh.js
  app/modules/upi/store/__test__/qr.test.js
  app/modules/upi/store/qr.js
  app/modules/upi/ui/components/__test__/qr.test.js
  app/modules/upi/ui/components/qr.svelte
  blackbox/actions/payout-actions.js
  blackbox/actions/qr-actions.js
  blackbox/actions/upi-actions.js
  blackbox/create/omni-channel.js
  blackbox/create/payouts.js
  blackbox/create/saved-vpa.js
  blackbox/create/upi-collect.js
  blackbox/create/upi-intent.js
  blackbox/create/upi-qr.js
  blackbox/create/upi-web-payments.js
  blackbox/tests/homescreen/upiIntent/keyless.test.js
  blackbox/tests/homescreen/upiIntent/keylessDowntimeLow.test.js
  blackbox/tests/homescreen/upiIntent/optionalKeyless.test.js
Owners: @razorpay/Checkout-CX

migrated the _Arr mergewith (#3242)
  app/modules/configurability/instruments-config.js
  app/modules/configurability/sequence.js
  app/modules/subtext/card.js
  app/modules/ui/elements/FormattedText/tokenizer.js
  app/modules/ui/elements/SearchModal.svelte
  app/modules/ui/tabs/home/instruments.js
Owners: @razorpay/Checkout-CX

Cfu array remove duplicates (#3244)
  app/modules/checkoutstore/methods.js
  app/modules/configurability/blocks.js
  app/modules/configurability/sequence.js
  app/modules/utils/__tests__/array.test.js
  app/modules/utils/array.ts
Owners: @razorpay/Checkout-CX

(refactor): removing every cfu from the codebase (#3227)
  app/modules/configurability/instruments.js
  app/modules/ui/tabs/home/instruments.js
Owners: @razorpay/Checkout-CX

(Refactor): Removed `_arr.none` from the codebase (#3228)
  app/modules/ui/tabs/home/instruments.js
Owners: none

(refator): Removed join from the codebase (#3230)
  app/modules/checkoutframe/nach.js
  app/modules/subtext/card.js
  app/modules/ui/tabs/upi/index.svelte
  cfu/src/fe/implicit/_Str.js
Owners: none

(refator): Removed Indexof from the codebase (#3231)
  app/modules/common/wallet.js
  app/modules/configurability/sequence.js
  app/modules/eventer.js
  app/modules/ui/tabs/home/instruments.js
Owners: @razorpay/Checkout-CX

(Refator): Removed Sort from the codebase (#3232)
  app/js/lib/polyfill.js
  app/modules/checkoutframe/personalization/index.js
  app/modules/common/upi.js
  app/modules/common/wallet.js
  app/modules/ui/components/emi.svelte
  blackbox/actions/payout-actions.js
  blackbox/create/payouts.js
Owners: none

(refactor): Removed flatMap from codebase (#3238)
  app/js/lib/polyfill.js
  app/modules/checkoutstore/screens/home.js
  app/modules/configurability/index.js
  app/modules/configurability/instruments-config.js
  app/modules/ui/tabs/home/instruments.js
Owners: @razorpay/Checkout-CX

Feat [1CC]: Added Functionality for paste in OTP (#3219)
  app/modules/one_click_checkout/otp/ui/OTPInput.svelte
  blackbox/actions/one-click-checkout/common.js
  blackbox/actions/payout-actions.js
  blackbox/create/payouts.js
Owners: @razorpay/Checkout-1cc

chore: push commit build to prod build in betacdn and notify on slack (#3220)
  .github/workflows/Readme.md
  .github/workflows/docker-build-for-canary_baseline.yml
  .github/workflows/docker-build.yml
  .github/workflows/store-prod-build.yml
  Dockerfile
Owners: @razorpay/Checkout-CX

Fix: Updated comments and removed unused imports
  app/js/checkout-frame/session.js
  app/modules/checkoutstore/screens/card.js
Owners: @razorpay/Checkout-CX

Update comment-preview-build.yml (#3252)
  .github/workflows/comment-preview-build.yml
Owners: none

Incorportated PR comments
  app/js/lib/polyfill.js
  app/modules/ui/tabs/home/instruments.js
  app/modules/utils/__tests__/array.test.js
Owners: none

Refactor: Removing Array Map and Filter part 1 (#3255)
  app/js/lib/polyfill.js
  app/modules/bridge/bridge.js
  app/modules/checkoutframe/components/payouts.js
  app/modules/checkoutframe/nach.js
  app/modules/checkoutframe/offers/index.js
  app/modules/checkoutframe/paymentmethods.js
  app/modules/checkoutframe/personalization/api.js
  app/modules/checkoutframe/personalization/extend.js
  app/modules/checkoutframe/personalization/filters.js
  app/modules/checkoutframe/personalization/index.js
  app/modules/lib/polyfill/prototypes/native.js
Owners: @razorpay/Checkout-CX

feat(cfu): array-map split 2 PR (#3256)
  app/modules/checkoutstore/methods.js
  app/modules/checkoutstore/native.js
  app/modules/common/apps.js
  app/modules/common/bank.js
  app/modules/common/countrycodes.js
  app/modules/common/emi.js
  app/modules/common/token.js
  app/modules/common/upi.js
  app/modules/configurability/blocks.js
  app/modules/configurability/index.js
Owners: @razorpay/Checkout-CX

feat(cfu): array-map split 3 PR (#3257)
  app/modules/configurability/instruments-config.js
  app/modules/configurability/instruments.js
  app/modules/configurability/methods.js
  app/modules/configurability/sequence.js
  app/modules/configurability/translate.js
  app/modules/configurability/validate/card.js
  app/modules/subtext/card.js
  app/modules/subtext/netbanking.js
  app/modules/subtext/wallet.js
  app/modules/ui/components/emi.svelte
Owners: @razorpay/Checkout-CX

feat(cfu): array-find split 3 PR (#3261)
  app/modules/ui/elements/DynamicCurrencyView.svelte
  app/modules/ui/tabs/card/AddCardView.svelte
  app/modules/ui/tabs/card/index.svelte
  app/modules/ui/tabs/home/instruments.js
  app/modules/ui/tabs/home/instruments/RadioInstrument.svelte
  app/modules/ui/tabs/home/instruments/SavedCardInstrument.svelte
  app/modules/ui/tabs/netbanking/index.svelte
  app/modules/ui/tabs/upi/index.svelte
  cfu/src/fe/implicit/_Arr.js
Owners: none

feat(cfu): array-find split 2 PR (#3260)
  app/modules/common/apps.js
  app/modules/common/bank.js
  app/modules/common/card.js
  app/modules/common/countrycodes.js
  app/modules/common/upi.js
  app/modules/configurability/index.js
  app/modules/configurability/instruments-config.js
  app/modules/configurability/sequence.js
  app/modules/configurability/validate/card.js
  app/modules/subtext/wallet.js
Owners: @razorpay/Checkout-CX

Feat: Hidden RBI guideline callout/card supported check etc Added checks on recurring callouts/supported bank modals and card checks, which are only applicable for domestic users
  app/modules/ui/elements/fields/card/NumberField.svelte
  app/modules/ui/tabs/card/index.svelte
Owners: none

Enabled the offers on 1CC (#3216)
  app/js/checkout-frame/session.js
  app/modules/one_click_checkout/charges/store.js
  app/modules/one_click_checkout/summary_modal/ui/SummaryModal.svelte
  app/modules/razorpay/helper.js
  app/modules/ui/tabs/home/index.svelte
  app/modules/utils/strings.js
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

Fix: Fixed card select issue in saved card screen
  app/modules/ui/tabs/card/SecureCard.svelte
  app/modules/ui/tabs/card/index.svelte
  app/modules/ui/tabs/card/savedcards.svelte
Owners: none

Fix: Fixed already consent taken cards issue
  app/js/checkout-frame/session.js
Owners: @razorpay/Checkout-CX

Revert "Feat(Standard/Recurring): Implements mandatory check on save card checkbox for recurring standard checkout" (#3269)
  app/checkout.html
  app/index.sample.html
  app/js/checkout-frame/session.js
  app/modules/card/icons/shield.js
  app/modules/checkoutstore/screens/card.js
  app/modules/i18n/bundles/en.js
  app/modules/razorpay/helper.js
  app/modules/ui/labels/card.js
  app/modules/ui/tabs/card/RecurringCardsCallout.svelte
  app/modules/ui/tabs/card/SecureCard.svelte
  app/modules/ui/tabs/card/SecureCardKnowMore.svelte
  app/modules/ui/tabs/card/__test__/RecurringCardsCallout.test.js
  app/modules/ui/tabs/card/index.svelte
  app/modules/ui/tabs/card/savedcard.svelte
  app/modules/ui/tabs/card/savedcards.svelte
  rollup.config.js
Owners: @razorpay/Checkout-CX

Revert "Feat: Restricted recurring RBI guideline callouts/supported banks modal to domestic users only " (#3268)
  app/modules/ui/elements/fields/card/NumberField.svelte
  app/modules/ui/tabs/card/index.svelte
Owners: none

Refactor: Removing Array Map and Filter part 4 (#3258)
  app/modules/ui/elements/DynamicCurrencyView.svelte
  app/modules/ui/elements/SearchModal.svelte
  app/modules/ui/elements/Tooltip.svelte
  app/modules/ui/tabs/card/index.svelte
  app/modules/ui/tabs/cardless-emi/index.svelte
  app/modules/ui/tabs/home/RazorpayCluster.svelte
  app/modules/ui/tabs/home/instruments.js
  app/modules/ui/tabs/netbanking/index.svelte
  app/modules/ui/tabs/paylater/index.svelte
  app/modules/ui/tabs/upi/index.svelte
  app/modules/ui/tabs/wallets/index.svelte
  cfu/src/fe/implicit/_Str.js
Owners: none

"Feat: Restricted recurring RBI guideline callouts/supported banks modal to domestic users only" (#3268)
  app/modules/ui/elements/fields/card/NumberField.svelte
  app/modules/ui/tabs/card/index.svelte
Owners: none

"Feat(Standard/Recurring): Implements mandatory check on save card checkbox for recurring standard checkout" (#3270)
  app/checkout.html
  app/index.sample.html
  app/js/checkout-frame/session.js
  app/modules/card/icons/shield.js
  app/modules/checkoutstore/screens/card.js
  app/modules/i18n/bundles/en.js
  app/modules/razorpay/helper.js
  app/modules/ui/labels/card.js
  app/modules/ui/tabs/card/RecurringCardsCallout.svelte
  app/modules/ui/tabs/card/SecureCard.svelte
  app/modules/ui/tabs/card/SecureCardKnowMore.svelte
  app/modules/ui/tabs/card/__test__/RecurringCardsCallout.test.js
  app/modules/ui/tabs/card/index.svelte
  app/modules/ui/tabs/card/savedcard.svelte
  app/modules/ui/tabs/card/savedcards.svelte
  rollup.config.js
Owners: @razorpay/Checkout-CX

Tokenisation subtext removal (#3272)
  app/modules/i18n/bundles/en.js
  app/modules/ui/labels/card.js
  app/modules/ui/tabs/card/savedcard.svelte
Owners: none

feat(cfu): array-find split 1 PR (#3259)
  app/js/checkout-frame/session.js
  app/js/lib/polyfill.js
  app/modules/card/helper/card.js
  app/modules/checkoutframe/flows/index.js
  app/modules/checkoutframe/index.js
  app/modules/checkoutframe/offers/index.js
  app/modules/checkoutframe/personalization/extend.js
  app/modules/checkoutframe/personalization/index.js
  app/modules/checkoutstore/native.js
  app/modules/checkoutstore/screens/home.js
  app/modules/lib/polyfill/prototypes/native.js
Owners: @razorpay/Checkout-CX

changes
  .github/workflows/security.yml
Owners: none

feat: add cod test with callback url (#3249)
  blackbox/create/one-click-checkout/cod.js
  blackbox/create/options/makers/one-click-checkout.js
  blackbox/tests/homescreen/cod/codWithCallbackUrl.test.js
Owners: none

chore(semgrep): semgrep ignore paths added (#3284)
  .semgrepignore
Owners: none

Update .semgrepignore (#3285)
  .semgrepignore
Owners: none

Update .semgrepignore (#3286)
  .semgrepignore
Owners: none

Update .semgrepignore (#3287)
  .semgrepignore
Owners: none

Fix E-merchant Pay Poli Logo Size (#3254)
  cdn/international/poli.png
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

Custom/challan (#3197)
  app/modules/analytics/metaProperties.js
  app/modules/checkoutjs/options.js
  app/modules/ui/tabs/bank-transfer/NeftPrintView.svelte
  app/modules/ui/tabs/bank-transfer/__test__/NeftPrintView.test.js
  app/modules/ui/tabs/bank-transfer/__test__/helper.test.js
  app/modules/ui/tabs/bank-transfer/events.ts
  app/modules/ui/tabs/bank-transfer/helper.ts
  app/modules/ui/tabs/bank-transfer/index.svelte
  beta-cdn/qa/standard-checkout.html
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

Fixed the offers amount difference issue (#3291)
  app/js/checkout-frame/session.js
Owners: @razorpay/Checkout-CX

Revert "Custom/challan (#3197)" (#3293)
  app/modules/analytics/metaProperties.js
  app/modules/checkoutjs/options.js
  app/modules/ui/tabs/bank-transfer/NeftPrintView.svelte
  app/modules/ui/tabs/bank-transfer/__test__/NeftPrintView.test.js
  app/modules/ui/tabs/bank-transfer/__test__/helper.test.js
  app/modules/ui/tabs/bank-transfer/events.ts
  app/modules/ui/tabs/bank-transfer/helper.ts
  app/modules/ui/tabs/bank-transfer/index.svelte
  beta-cdn/qa/standard-checkout.html
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc
