Repository razorpay/checkout-demo-extension, changes with the owners that .github/CODEOWNERS names for each.
All owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc, @razorpay/QA

.github/CODEOWNERS:

# This file allows Github to automatically request reviews from
# code owners when certain files are changed.
# Ref: https://github.com/blog/2392-introducing-de-owners
#
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.


#
# Checkout Core Features : "@razorpay/Checkout-CX" team
#
app/modules/bridge/                                     @razorpay/Checkout-CX
app/modules/configurability/                            @razorpay/Checkout-CX
app/modules/trusted-badge/                              @razorpay/Checkout-CX
app/js/checkout-frame/                                  @razorpay/Checkout-CX


#
# Checkout One-Click-Checkout (1cc) Features: "@razorpay/Checkout-1cc" team
#
app/modules/one_click_checkout/                         @razorpay/Checkout-1cc

#
# Checkout Application Build/Deploy
#
.github/actions/                                        @razorpay/Checkout-CX
git-hooks/                                              @razorpay/Checkout-CX
cdn/                                                    @razorpay/Checkout-CX           @razorpay/Checkout-1cc
beta-cdn/qa/                                            @razorpay/QA                    @razorpay/Checkout-CX           @razorpay/Checkout-1cc 
beta-cdn/                                               @razorpay/Checkout-CX           @razorpay/Checkout-1cc 
dockerconf/                                             @razorpay/Checkout-CX
Dockerfile                                              @razorpay/Checkout-CX
Dockerfile.dev                                          @razorpay/Checkout-CX
gulpfile.js                                             @razorpay/Checkout-CX
jest.config.js                                          @razorpay/Checkout-CX
jest.ut.config.js                                       @razorpay/Checkout-CX
nodemon.json                                            @razorpay/Checkout-CX   
rollup.config.js                                        @razorpay/Checkout-CX
rollup.test.js                                          @razorpay/Checkout-CX
tsconfig.json                                           @razorpay/Checkout-CX
.babelrc                                                @razorpay/Checkout-CX
.eslintrc.js                                            @razorpay/Checkout-CX

(feat): Adding fonts for CDN (#3533)
  cdn/fonts/Inter-Bold.ttf
  cdn/fonts/Inter-Light.ttf
  cdn/fonts/Inter-Medium.ttf
  cdn/fonts/Inter-SemiBold.ttf
  cdn/fonts/Inter.ttf
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

revert(cards): auto-selection of non-tokenised saved card feature reverted (#3534)
  app/modules/ui/tabs/card/index.svelte
  app/modules/ui/tabs/card/savedcard.svelte
  app/modules/ui/tabs/card/savedcards.svelte
  app/modules/ui/tabs/home/instruments/SavedCardInstrument.svelte
Owners: none

Hotfix(V1.5 A/B): add razorpay api path to new design url (#3532)
  app/modules/checkoutjs/frame.js
Owners: none

spacing between contact code and number added (#3531)
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
Owners: @razorpay/Checkout-1cc

Component stack (#3536)
  app/_templates/modal.jst
  app/css/modal.styl
  app/css/overlay.styl
  app/css/touch.styl
  app/modules/bridge/back.js
  app/modules/checkoutframe/components/index.js
  app/modules/navstack/Element.svelte
  app/modules/navstack/Overlay.svelte
  app/modules/navstack/helper.ts
  app/modules/navstack/index.svelte
  app/modules/navstack/index.ts
  app/modules/navstack/navstack.d.ts
  app/modules/navstack/store.ts
Owners: @razorpay/Checkout-CX

fix: hide cta's wjem a different payment method offer is applied (#3541)
  app/js/checkout-frame/session.js
Owners: @razorpay/Checkout-CX

fix: add fonts for elements (#3543)
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
  app/modules/one_click_checkout/cta/index.svelte
  app/modules/ui/components/Field.svelte
Owners: @razorpay/Checkout-1cc

chore: gpay icon added (#3429)
  cdn/checkout/googlepay.png
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

move $.js to es6 (#3540)
  app/checkout.html
  app/js/checkout-frame/session.js
  app/modules/checkoutframe/discreet.js
  app/modules/lib/$.js
  app/modules/lib/utils.js
Owners: @razorpay/Checkout-CX

fix: font of autosuggestion field (#3546)
  app/modules/one_click_checkout/common/ui/WrappedInput.svelte
Owners: @razorpay/Checkout-1cc

v1.5 post release AI fixes
  app/modules/one_click_checkout/address/constants.js
  app/modules/one_click_checkout/address/helpers.js
  app/modules/one_click_checkout/address/helpersExtra.js
  app/modules/one_click_checkout/address/sessionInterface.js
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
  app/modules/one_click_checkout/address/ui/components/SavedAddresses.svelte
Owners: @razorpay/Checkout-1cc

Revert "Revert "feat: Integration for CyberSource fingerprint javascript library (#3424)" (#3511)" (#3513)
  .eslintrc.js
  app/modules/checkoutstore/index.js
  app/modules/common/card.js
  app/modules/ui/tabs/card/index.svelte
  cfu/rollup-plugins.js
Owners: @razorpay/Checkout-CX

1CC: Post Release AIs (#3545)
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
  app/modules/one_click_checkout/address/ui/components/SameBillingAndShipping.svelte
  app/modules/one_click_checkout/contact_widget/ContactWidget.svelte
  app/modules/one_click_checkout/coupons/ui/components/CouponInput.svelte
  app/modules/one_click_checkout/coupons/ui/components/CouponItem.svelte
  app/modules/one_click_checkout/cta/index.svelte
  app/modules/one_click_checkout/header/Header.svelte
  app/modules/one_click_checkout/header/components/LanguageSelection.svelte
  app/modules/ui/components/offers/OfferItemMagicCheckout.svelte
  app/modules/ui/components/offers/index.svelte
  app/modules/ui/tabs/home/PaymentDetails.svelte
Owners: @razorpay/Checkout-1cc

1cc/v1.5 design ai fixes (#3549)
  app/modules/one_click_checkout/address/constants.js
  app/modules/one_click_checkout/address/helpers.js
  app/modules/one_click_checkout/address/helpersExtra.js
  app/modules/one_click_checkout/address/sessionInterface.js
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
  app/modules/one_click_checkout/address/ui/components/SavedAddresses.svelte
Owners: @razorpay/Checkout-1cc

Feat: Adds Visa credit cards to IOB and updates test accordingly (#3515)
  app/modules/ui/tabs/card/RecurringCardsOverlay.svelte
  app/modules/ui/tabs/card/__test__/RecurringCardsOverlay.test.js
  app/modules/ui/tabs/card/constant.js
Owners: none

[CE-5221]: feat(app): local SDK connection and debug mode config added (#3325)
  .github/workflows/comment-preview-build.yml
  README.md
  app/public.html
Owners: none

(feat): Added a few AIs with nitya told (#3552)
  app/modules/one_click_checkout/common/ui/WrappedInput.svelte
  app/modules/one_click_checkout/cta/index.svelte
  app/modules/one_click_checkout/header/Header.svelte
Owners: @razorpay/Checkout-1cc

move secure card overlay to navstack (#3553)
  app/_templates/modal.jst
  app/css/modal.styl
  app/css/touch.styl
  app/js/checkout-frame/session.js
  app/modules/ui/tabs/card/SecureCard.svelte
  app/modules/ui/tabs/card/SecureCardKnowMore.svelte
Owners: @razorpay/Checkout-CX

Fix(V1.5): Account Tab iOS CSS Fixes (#3555)
  app/modules/one_click_checkout/account_modal/ui/AccountModal.svelte
Owners: @razorpay/Checkout-1cc

Fixed the issue of Account Tab positioning on payment method screen (#3535)
  app/modules/ui/tabs/home/index.svelte
Owners: none

Added the modal close icon on header (#3550)
  app/modules/one_click_checkout/header/Header.svelte
  app/modules/one_click_checkout/header/sessionInterface.js
Owners: @razorpay/Checkout-1cc

Added the enabling/disabling feature for coupons on V1.5 1CC (#3556)
  app/modules/one_click_checkout/coupons/ui/Coupons.svelte
  app/modules/one_click_checkout/coupons/ui/components/OrderWidget.svelte
Owners: @razorpay/Checkout-1cc

Add RTL currencies(BHD, KWD, OMR) format support (#3554)
  app/js/checkout-frame/session.js
  app/modules/common/currency.js
  app/modules/payment/popup/template.js
  app/modules/ui/elements/DynamicCurrencyView.svelte
  app/modules/ui/elements/search-item/Currency.svelte
  app/modules/ui/tabs/card/index.svelte
Owners: @razorpay/Checkout-CX

1CC [FEAT]: Spacing Issue in Header (#3560)
  app/modules/one_click_checkout/header/Header.svelte
Owners: @razorpay/Checkout-1cc

feat: adding friction on closing 1cc modal
  app/modules/i18n/bundles/en.js
  app/modules/one_click_checkout/header/sessionInterface.js
  app/modules/one_click_checkout/misc/i18n/en.js
  app/modules/one_click_checkout/misc/i18n/label.js
  app/modules/one_click_checkout/sessionInterface.js
Owners: @razorpay/Checkout-1cc

(styles): Offers Overlay issue fixed (#3565)
  app/modules/ui/components/offers/index.svelte
Owners: none

messaging updated
  app/modules/one_click_checkout/misc/i18n/en.js
Owners: @razorpay/Checkout-1cc

refactor: eslint [reduce error/warning in build logs by 80%] (#3566)
  .eslintignore
  app/modules/analytics/helpers.js
  app/modules/checkoutframe/components/card.js
  app/modules/checkoutframe/components/header.js
  app/modules/checkoutstore/country.js
  app/modules/checkoutstore/screens/home.js
  app/modules/common/form.js
  app/modules/lib/polyfill/checkoutframe.js
  app/modules/ui/tabs/bank-transfer/index.svelte
  app/modules/ui/tabs/card/index.svelte
  app/modules/ui/tabs/home/instruments.js
  app/modules/ui/tabs/qr/index.svelte
  app/modules/utils/object.js
  app/modules/utils/security.js
  cfu/scripts/eslintrc-compat.js
  cfu/scripts/eslintrc.js
  package.json
Owners: none

(bug fix): Offers Bug fixed (#3568)
  app/modules/ui/components/offers/index.svelte
Owners: none

Kill CFU: Object methods Phase 1 (#3313)
  app/js/checkout-frame/session.js
  app/modules/analytics/tracker.js
  app/modules/checkoutframe/components/netbanking.js
  app/modules/payment/index.js
  app/modules/payment/validator.js
  cfu/src/fe/implicit/_Obj.js
  cfu/src/fe/implicit/fetch.js
Owners: @razorpay/Checkout-CX

messaging update for payment methods in 1cc flow
  app/modules/one_click_checkout/header/sessionInterface.js
Owners: @razorpay/Checkout-1cc

1CC [Styles]: Two Scrollbar Issue Fixed (#3563)
  app/css/modal.styl
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
  app/modules/one_click_checkout/address/ui/components/AddressTab.svelte
Owners: @razorpay/Checkout-1cc

(chors): Test changes
  app/modules/one_click_checkout/header/components/TrustedBadge.svelte
  app/modules/one_click_checkout/rtb_modal/ui/RTBModal.svelte
Owners: @razorpay/Checkout-1cc

(revert): Reverted changes
  app/modules/one_click_checkout/header/components/TrustedBadge.svelte
  app/modules/one_click_checkout/rtb_modal/ui/RTBModal.svelte
Owners: @razorpay/Checkout-1cc

Added the cross icon on topbar (#3573)
  app/modules/one_click_checkout/topbar/ui/Topbar.svelte
Owners: @razorpay/Checkout-1cc

fix(retry): Update retry button text only if it is available in DOM (#3572)
  app/modules/i18n/init.js
Owners: none

1CC [Feat] : Vernacular blur issue (#3576)
  app/modules/one_click_checkout/common/ui/TrustedBadge.svelte
  app/modules/one_click_checkout/header/components/TrustedBadge.svelte
  app/modules/one_click_checkout/rtb_modal/ui/RTBModal.svelte
Owners: @razorpay/Checkout-1cc

removed inline scripts from popup [CE-4804] (#3138)
  app/modules/common/currency.js
  app/modules/payment/coproto.js
  app/modules/payment/index.js
  app/modules/payment/popup/index.js
  app/modules/payment/popup/template.js
Owners: none

(fix): Circular dependency fix (#3578)
  app/modules/one_click_checkout/header/components/TrustedBadge.svelte
  app/modules/one_click_checkout/rtb_modal/ui/RTBModal.svelte
Owners: @razorpay/Checkout-1cc

(fix): Fixed failing tests (#3529)
  app/modules/ui/tabs/card/__test__/AVSForm.test.js
  app/modules/ui/tabs/international/__test__/NVSForm.test.js
Owners: none
