Repository razorpay/checkout-demo-extension, changes with the owners that .github/CODEOWNERS names for each.
All owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc, @razorpay/QA

.github/CODEOWNERS:

# This file allows Github to automatically request reviews from
# code owners when certain files are changed.
# Ref: https://github.com/blog/2392-introducing-de-owners
#
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.


#
# Checkout Core Features : "@razorpay/Checkout-CX" team
#
app/modules/bridge/                                     @razorpay/Checkout-CX
app/modules/configurability/                            @razorpay/Checkout-CX
app/modules/trusted-badge/                              @razorpay/Checkout-CX
app/js/checkout-frame/                                  @razorpay/Checkout-CX


#
# Checkout One-Click-Checkout (1cc) Features: "@razorpay/Checkout-1cc" team
#
app/modules/one_click_checkout/                         @razorpay/Checkout-1cc

#
# Checkout Application Build/Deploy
#
.github/actions/                                        @razorpay/Checkout-CX
git-hooks/                                              @razorpay/Checkout-CX
cdn/                                                    @razorpay/Checkout-CX           @razorpay/Checkout-1cc
beta-cdn/qa/                                            @razorpay/QA                    @razorpay/Checkout-CX           @razorpay/Checkout-1cc 
beta-cdn/                                               @razorpay/Checkout-CX           @razorpay/Checkout-1cc 
dockerconf/                                             @razorpay/Checkout-CX
Dockerfile                                              @razorpay/Checkout-CX
Dockerfile.dev                                          @razorpay/Checkout-CX
gulpfile.js                                             @razorpay/Checkout-CX
jest.config.js                                          @razorpay/Checkout-CX
jest.ut.config.js                                       @razorpay/Checkout-CX
nodemon.json                                            @razorpay/Checkout-CX   
rollup.config.js                                        @razorpay/Checkout-CX
rollup.test.js                                          @razorpay/Checkout-CX
tsconfig.json                                           @razorpay/Checkout-CX
.babelrc                                                @razorpay/Checkout-CX
.eslintrc.js                                            @razorpay/Checkout-CX

chore: full rollout highlight intent instrument on desktop (#3363)
  app/js/checkout-frame/session.js
  app/modules/checkoutframe/discreet.js
  app/modules/checkoutframe/personalization/filters.js
  app/modules/checkoutstore/screens/upi.ts
  app/modules/common/helpers/customer.ts
  app/modules/experiments/index.js
  app/modules/one_click_checkout/address/helpers.js
  app/modules/one_click_checkout/common/details/helpers.js
  app/modules/one_click_checkout/common/middlewares/hasSavedAddress.js
  app/modules/one_click_checkout/common/middlewares/isAuthenticated.js
  app/modules/one_click_checkout/common/otp.js
  app/modules/one_click_checkout/common/otpHelpers.js
  app/modules/one_click_checkout/coupons/ui/components/Details.svelte
  app/modules/one_click_checkout/helper.js
  app/modules/one_click_checkout/sessionInterface.js
  app/modules/one_click_checkout/ui/Home.svelte
  app/modules/ui/components/Topbar.svelte
  app/modules/ui/tabs/home/NewMethodsList.svelte
  app/modules/ui/tabs/home/index.svelte
  app/modules/ui/tabs/upi/index.svelte
  app/modules/upi/__test__/highlight-upi-intent.test.js
  app/modules/upi/experiments.js
  app/modules/upi/experiments.ts
  app/modules/upi/helper/highlight-upi-intent.ts
  blackbox/tests/homescreen/upiCollect/upiAppOnDesktopPersonalization.test.js
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

Feat [1CC]: Enhanced the look and feel of text-auto complete (#3304)
  app/modules/one_click_checkout/address/ui/elements/CountryField.svelte
  app/modules/one_click_checkout/common/ui/WrappedInput.svelte
  app/modules/one_click_checkout/ui/Home.svelte
  app/modules/ui/components/Field.svelte
Owners: @razorpay/Checkout-1cc

file for array polyfills (#3365)
  app/modules/lib/polyfill/checkout.js
  app/modules/lib/polyfill/checkoutframe.js
  app/modules/lib/polyfill/prototypes/array.js
  app/modules/lib/polyfill/prototypes/native.js
  app/modules/lib/polyfill/prototypes/nativecommon.js
Owners: none

PR fixes: optional chaining and dot notation added
  app/modules/one_click_checkout/address/helpersExtra.js
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
  app/modules/one_click_checkout/common/ui/DropdownMenu.svelte
Owners: @razorpay/Checkout-1cc

PR fixes: multi-line inline fns removed
  app/modules/one_click_checkout/otp/ui/OTP.svelte
  app/modules/ui/tabs/otp/index.svelte
Owners: @razorpay/Checkout-1cc

Fix(AVS): Undefined field is added when user fills the AVSForm with browser saved address (#3367)
  app/js/checkout-frame/session.js
  app/modules/ui/tabs/card/AVSForm.svelte
  app/modules/ui/tabs/card/__test__/AVSForm.test.js
  app/modules/ui/tabs/international/NVSForm.svelte
  app/modules/ui/tabs/international/__test__/NVSForm.test.js
Owners: @razorpay/Checkout-CX

[Feat] - New Text Field enhancements for V1.5 (#3328)
  app/modules/i18n/bundles/en.js
  app/modules/one_click_checkout/address/i18n/en.js
  app/modules/one_click_checkout/common/ui/WrappedInput.svelte
  app/modules/one_click_checkout/otp/ui/OTPInput.svelte
  app/modules/one_click_checkout/store.js
  app/modules/one_click_checkout/ui/Home.svelte
  app/modules/ui/components/ContactField.svelte
  app/modules/ui/components/Field.svelte
  app/modules/ui/elements/SearchModal.svelte
Owners: @razorpay/Checkout-1cc

PR fixes: absolute import removed
  app/modules/one_click_checkout/common/ui/DropdownMenu.svelte
Owners: @razorpay/Checkout-1cc

Revert "1cc/v1.5 otp screen"
  app/modules/components/LinkButton.svelte
  app/modules/i18n/bundles/en.js
  app/modules/one_click_checkout/otp/ui/OTP.svelte
  app/modules/ui/components/CountdownTimer.svelte
  app/modules/ui/elements/ResendButton.svelte
  app/modules/ui/icons/payment-methods/edit_paper.js
  app/modules/ui/icons/payment-methods/index.js
  app/modules/ui/labels/otp.js
  app/modules/ui/tabs/otp/index.svelte
Owners: @razorpay/Checkout-1cc

checking serviceability logic shifted to Coupons screen
  app/modules/one_click_checkout/coupons/ui/Coupons.svelte
  app/modules/one_click_checkout/ui/Home.svelte
Owners: @razorpay/Checkout-1cc

Revert "Revert "1cc/v1.5 otp screen""
  app/modules/components/LinkButton.svelte
  app/modules/i18n/bundles/en.js
  app/modules/one_click_checkout/otp/ui/OTP.svelte
  app/modules/ui/components/CountdownTimer.svelte
  app/modules/ui/elements/ResendButton.svelte
  app/modules/ui/icons/payment-methods/edit_paper.js
  app/modules/ui/icons/payment-methods/index.js
  app/modules/ui/labels/otp.js
  app/modules/ui/tabs/otp/index.svelte
Owners: @razorpay/Checkout-1cc

import fix
  app/modules/ui/tabs/otp/index.svelte
Owners: none

skipped coupons test
  blackbox/create/one-click-checkout/coupons.js
Owners: none

Revert "chore: full rollout highlight intent instrument on desktop (#3363)" (#3370)
  app/js/checkout-frame/session.js
  app/modules/analytics/highlightUpiIntentAnalytics.js
  app/modules/checkoutframe/discreet.js
  app/modules/checkoutframe/personalization/filters.js
  app/modules/checkoutstore/screens/upi.js
  app/modules/experiments/index.js
  app/modules/one_click_checkout/address/helpers.js
  app/modules/one_click_checkout/common/details/helpers.js
  app/modules/one_click_checkout/common/helpers/customer.js
  app/modules/one_click_checkout/common/middlewares/hasSavedAddress.js
  app/modules/one_click_checkout/common/middlewares/isAuthenticated.js
  app/modules/one_click_checkout/common/otp.js
  app/modules/one_click_checkout/common/otpHelpers.js
  app/modules/one_click_checkout/coupons/ui/components/Details.svelte
  app/modules/one_click_checkout/helper.js
  app/modules/one_click_checkout/sessionInterface.js
  app/modules/one_click_checkout/ui/Home.svelte
  app/modules/ui/components/Topbar.svelte
  app/modules/ui/tabs/home/NewMethodsList.svelte
  app/modules/ui/tabs/home/index.svelte
  app/modules/ui/tabs/upi/index.svelte
  app/modules/upi/__test__/highlight-upi-intent.test.js
  app/modules/upi/experiments.js
  app/modules/upi/experiments.ts
  blackbox/tests/homescreen/upiCollect/upiAppOnDesktopPersonalization.test.js
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

print razorpay_signature (#3327)
  beta-cdn/qa/standard-checkout.html
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

bugfix: resolved issue for user's shipping address not getting saved
  app/modules/one_click_checkout/address/billing_address/index.svelte
Owners: @razorpay/Checkout-1cc

condition updated in submit action of billing
  app/modules/one_click_checkout/address/billing_address/index.svelte
Owners: @razorpay/Checkout-1cc

chore: full rollout highlight upi intent instrument on desktop experiment (#3376)
  app/modules/upi/experiments.js
Owners: none

edit address flows integrated with billing address
  app/modules/one_click_checkout/address/billing_address/index.svelte
  app/modules/one_click_checkout/address/billing_address/store.js
  app/modules/one_click_checkout/address/config.js
  app/modules/one_click_checkout/address/constants.js
  app/modules/one_click_checkout/address/helpers.js
  app/modules/one_click_checkout/address/helpersExtra.js
  app/modules/one_click_checkout/address/resource.js
  app/modules/one_click_checkout/address/service.js
  app/modules/one_click_checkout/address/sessionInterface.js
  app/modules/one_click_checkout/address/shipping_address/store.js
  app/modules/one_click_checkout/address/ui/Address.svelte
  app/modules/one_click_checkout/address/ui/components/AddressTab.svelte
  app/modules/one_click_checkout/address/ui/components/SavedAddresses.svelte
  app/modules/one_click_checkout/routing/constants.js
  app/modules/one_click_checkout/routing/routes.js
  cfu/src/fe/implicit/fetch.js
Owners: @razorpay/Checkout-1cc

chore: update experiment flag name for intent instrument on desktop (#3380)
  app/modules/upi/experiments.js
  blackbox/tests/homescreen/upiCollect/upiAppOnDesktopPersonalization.test.js
Owners: none

PR fixes: hardcoded value in analytics replaced with onSavedAddresses
  app/modules/one_click_checkout/address/service.js
  app/modules/one_click_checkout/address/ui/components/SavedAddresses.svelte
Owners: @razorpay/Checkout-1cc

multiple edit dropdown fixed
  app/modules/one_click_checkout/common/ui/DropdownMenu.svelte
Owners: @razorpay/Checkout-1cc

OTP spacing fixes
  app/modules/one_click_checkout/otp/ui/OTP.svelte
  app/modules/ui/components/CountdownTimer.svelte
Owners: @razorpay/Checkout-1cc

Tag in address bugfix
  app/modules/one_click_checkout/address/constants.js
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
  app/modules/one_click_checkout/address/ui/components/TagSelector.svelte
Owners: @razorpay/Checkout-1cc

address AI fixes
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
  app/modules/one_click_checkout/address/ui/components/AddressTab.svelte
  app/modules/one_click_checkout/address/ui/components/SavedAddresses.svelte
Owners: @razorpay/Checkout-1cc

reducing zest amount
  app/modules/common/cardlessemi.js
Owners: none

PR fixes: focusing input only on click of "Others" button
  app/modules/one_click_checkout/address/ui/components/TagSelector.svelte
Owners: @razorpay/Checkout-1cc

PR fixes: selectedAddress destructured for better readbility
  app/modules/one_click_checkout/address/sessionInterface.js
Owners: @razorpay/Checkout-1cc

PR fixes: undefined orderId fixed in postServiceability
  app/modules/one_click_checkout/address/service.js
Owners: @razorpay/Checkout-1cc

feat: address widget UI added
  app/modules/one_click_checkout/address/ui/components/AddressBox.svelte
  app/modules/one_click_checkout/address/ui/components/SameBillingAndShipping.svelte
  app/modules/one_click_checkout/address/ui/components/SavedAddresses.svelte
  app/modules/one_click_checkout/common/ui/DropdownMenu.svelte
  app/modules/one_click_checkout/common/ui/Shimmer.svelte
  app/modules/one_click_checkout/coupons/i18n/en.js
  app/modules/one_click_checkout/coupons/i18n/labels.js
  app/modules/one_click_checkout/coupons/ui/Coupons.svelte
  app/modules/one_click_checkout/coupons/ui/components/AddressWidget.svelte
Owners: @razorpay/Checkout-1cc

tag fixes
  app/modules/one_click_checkout/address/constants.js
  app/modules/one_click_checkout/address/ui/components/TagSelector.svelte
Owners: @razorpay/Checkout-1cc

selecting address if not present onMount of SavedAddresses
  app/modules/one_click_checkout/address/ui/components/SavedAddresses.svelte
Owners: @razorpay/Checkout-1cc

shimmer added in savedAddresses
  app/modules/one_click_checkout/address/ui/components/SavedAddresses.svelte
Owners: @razorpay/Checkout-1cc

1cc/v1.5 contact widget (#3381)
  app/modules/i18n/bundles/en.js
  app/modules/one_click_checkout/contact_widget/ContactWidget.svelte
  app/modules/one_click_checkout/contact_widget/i18n/en.js
  app/modules/one_click_checkout/contact_widget/i18n/labels.js
  app/modules/one_click_checkout/contact_widget/icons/user.js
  app/modules/one_click_checkout/coupons/ui/Coupons.svelte
  app/modules/ui/icons/payment-methods/index.js
  app/modules/ui/tabs/home/PaymentDetails.svelte
Owners: @razorpay/Checkout-1cc

Coupon V1.5 changes (#3297)
  app/_templates/theme.jst
  app/modules/one_click_checkout/Toast/index.js
  app/modules/one_click_checkout/Toast/ui/Toast.svelte
  app/modules/one_click_checkout/coupons/config.js
  app/modules/one_click_checkout/coupons/constants.js
  app/modules/one_click_checkout/coupons/helpers.js
  app/modules/one_click_checkout/coupons/i18n/en.js
  app/modules/one_click_checkout/coupons/i18n/labels.js
  app/modules/one_click_checkout/coupons/icons/arrow_down.js
  app/modules/one_click_checkout/coupons/icons/circle_arrow_next.js
  app/modules/one_click_checkout/coupons/icons/offers.js
  app/modules/one_click_checkout/coupons/icons/order.js
  app/modules/one_click_checkout/coupons/sessionInterface.js
  app/modules/one_click_checkout/coupons/ui/AvailableCoupons.svelte
  app/modules/one_click_checkout/coupons/ui/Coupons.svelte
  app/modules/one_click_checkout/coupons/ui/CouponsList.svelte
  app/modules/one_click_checkout/coupons/ui/components/AvailableCouponsButton.svelte
  app/modules/one_click_checkout/coupons/ui/components/CouponInput.svelte
  app/modules/one_click_checkout/coupons/ui/components/CouponItem.svelte
  app/modules/one_click_checkout/coupons/ui/components/Details.svelte
  app/modules/one_click_checkout/loader/helper.js
  app/modules/one_click_checkout/loader/i18n/en.js
  app/modules/one_click_checkout/loader/i18n/labels.js
  app/modules/one_click_checkout/routing/constants.js
  app/modules/one_click_checkout/routing/routes.js
  app/modules/one_click_checkout/summary_modal/i18n/en.js
  app/modules/one_click_checkout/ui/Home.svelte
  app/modules/ui/components/UserDetailsStrip.svelte
  app/modules/ui/i18n/details_modal.js
  app/modules/ui/icons/payment-methods/index.js
  blackbox/actions/one-click-checkout/address.js
  blackbox/actions/one-click-checkout/common.js
  blackbox/actions/one-click-checkout/coupons.js
  blackbox/create/one-click-checkout/address.js
  blackbox/create/one-click-checkout/coupons.js
Owners: @razorpay/Checkout-1cc

Added the RTB Modal for V1.5 1CC (#3353)
  app/_templates/modal.jst
  app/modules/one_click_checkout/rtb_modal/icons/circle_check.js
  app/modules/one_click_checkout/rtb_modal/icons/rtb_close.js
  app/modules/one_click_checkout/rtb_modal/index.js
  app/modules/one_click_checkout/rtb_modal/ui/RTBModal.svelte
  app/modules/razorpay/helper.js
  app/modules/trusted-badge/i18n/en.ts
  app/modules/trusted-badge/i18n/labels.ts
  app/modules/ui/icons/payment-methods/index.js
Owners: @razorpay/Checkout-1cc, @razorpay/Checkout-CX

Added the Account tab V1.5 (#3322)
  app/_templates/modal.jst
  app/css/modal.styl
  app/css/upi.styl
  app/modules/i18n/bundles/en.js
  app/modules/i18n/init.js
  app/modules/one_click_checkout/account_modal/i18n/en.js
  app/modules/one_click_checkout/account_modal/i18n/labels.js
  app/modules/one_click_checkout/account_modal/icons/arrow_left.js
  app/modules/one_click_checkout/account_modal/icons/rzp_brand_logo.js
  app/modules/one_click_checkout/account_modal/index.js
  app/modules/one_click_checkout/account_modal/sessionInterface.js
  app/modules/one_click_checkout/account_modal/store.js
  app/modules/one_click_checkout/account_modal/ui/AccountModal.svelte
  app/modules/one_click_checkout/account_modal/ui/AccountTab.svelte
  app/modules/one_click_checkout/account_modal/ui/Loader.svelte
  app/modules/one_click_checkout/address/ui/components/AddressTab.svelte
  app/modules/ui/icons/payment-methods/index.js
  app/modules/ui/layouts/Screen.svelte
  app/modules/ui/tabs/cardless-emi/index.svelte
  app/modules/ui/tabs/international/index.svelte
  app/modules/ui/tabs/otp/index.svelte
  app/modules/ui/tabs/paylater/index.svelte
  app/modules/ui/tabs/upi/index.svelte
  app/modules/ui/tabs/wallets/index.svelte
Owners: @razorpay/Checkout-1cc

PR fixes: blocks added in if conditions
  app/modules/one_click_checkout/address/ui/components/SavedAddresses.svelte
  app/modules/one_click_checkout/address/ui/components/TagSelector.svelte
Owners: @razorpay/Checkout-1cc

PR fixes: if block fixes
  app/modules/one_click_checkout/common/ui/Shimmer.svelte
Owners: @razorpay/Checkout-1cc

1cc/v1.5 changes header topbar (#3364)
  app/_templates/modal.jst
  app/css/modal.styl
  app/js/checkout-frame/session.js
  app/modules/checkoutframe/components/index.js
  app/modules/checkoutframe/discreet.js
  app/modules/checkoutstore/screens/otp.js
  app/modules/i18n/bundles/en.js
  app/modules/one_click_checkout/address/config.js
  app/modules/one_click_checkout/common/otpConfig.js
  app/modules/one_click_checkout/coupons/config.js
  app/modules/one_click_checkout/sessionInterface.js
  app/modules/one_click_checkout/topbar/constants.js
  app/modules/one_click_checkout/topbar/helper.js
  app/modules/one_click_checkout/topbar/i18n/en.js
  app/modules/one_click_checkout/topbar/i18n/label.js
  app/modules/one_click_checkout/topbar/icons/back_arrow.js
  app/modules/one_click_checkout/topbar/icons/double_arrow.js
  app/modules/one_click_checkout/topbar/index.js
  app/modules/one_click_checkout/topbar/sessionInterface.js
  app/modules/one_click_checkout/topbar/store.js
  app/modules/one_click_checkout/topbar/ui/Topbar.svelte
  app/modules/one_click_checkout/ui/Home.svelte
  app/modules/ui/icons/payment-methods/index.js
  app/modules/ui/tabs/card/index.svelte
  app/modules/ui/tabs/cardless-emi/index.svelte
  app/modules/ui/tabs/emandate/index.svelte
  app/modules/ui/tabs/emi/emiplans.svelte
  app/modules/ui/tabs/international/index.svelte
  app/modules/ui/tabs/nach/index.svelte
  app/modules/ui/tabs/netbanking/index.svelte
  app/modules/ui/tabs/otp/index.svelte
  app/modules/ui/tabs/paylater/index.svelte
  app/modules/ui/tabs/qr/index.svelte
  app/modules/ui/tabs/upi/index.svelte
  app/modules/ui/tabs/wallets/index.svelte
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc
