Repository razorpay/checkout-demo-extension, changes with the owners that .github/CODEOWNERS names for each.
All owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc, @razorpay/QA

.github/CODEOWNERS:

# This file allows Github to automatically request reviews from
# code owners when certain files are changed.
# Ref: https://github.com/blog/2392-introducing-de-owners
#
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.


#
# Checkout Core Features : "@razorpay/Checkout-CX" team
#
app/modules/bridge/                                     @razorpay/Checkout-CX
app/modules/configurability/                            @razorpay/Checkout-CX
app/modules/trusted-badge/                              @razorpay/Checkout-CX
app/js/checkout-frame/                                  @razorpay/Checkout-CX


#
# Checkout One-Click-Checkout (1cc) Features: "@razorpay/Checkout-1cc" team
#
app/modules/one_click_checkout/                         @razorpay/Checkout-1cc

#
# Checkout Application Build/Deploy
#
.github/actions/                                        @razorpay/Checkout-CX
git-hooks/                                              @razorpay/Checkout-CX
cdn/                                                    @razorpay/Checkout-CX           @razorpay/Checkout-1cc
beta-cdn/qa/                                            @razorpay/QA                    @razorpay/Checkout-CX           @razorpay/Checkout-1cc 
beta-cdn/                                               @razorpay/Checkout-CX           @razorpay/Checkout-1cc 
dockerconf/                                             @razorpay/Checkout-CX
Dockerfile                                              @razorpay/Checkout-CX
Dockerfile.dev                                          @razorpay/Checkout-CX
gulpfile.js                                             @razorpay/Checkout-CX
jest.config.js                                          @razorpay/Checkout-CX
jest.ut.config.js                                       @razorpay/Checkout-CX
nodemon.json                                            @razorpay/Checkout-CX   
rollup.config.js                                        @razorpay/Checkout-CX
rollup.test.js                                          @razorpay/Checkout-CX
tsconfig.json                                           @razorpay/Checkout-CX
.babelrc                                                @razorpay/Checkout-CX
.eslintrc.js                                            @razorpay/Checkout-CX

config in url support added (#3175)
  beta-cdn/qa/standard-checkout.html
Owners: @razorpay/Checkout-CX, @razorpay/Checkout-1cc

Added the element ids (#3171)
  app/modules/one_click_checkout/address/ui/components/SavedAddresses.svelte
  app/modules/one_click_checkout/coupons/ui/AvailableCoupons.svelte
  app/modules/one_click_checkout/coupons/ui/components/AvailableCouponsButton.svelte
  app/modules/one_click_checkout/coupons/ui/components/CouponInput.svelte
  app/modules/one_click_checkout/coupons/ui/components/CouponItem.svelte
Owners: @razorpay/Checkout-1cc

Fix ( 1CC ): Fixed COD Issue on MWeb (#3190)
  app/modules/checkoutstore/methods.js
Owners: none

Fix: AVS edge cases (#3188)
  app/modules/analytics/card/misc.js
  app/modules/ui/tabs/card/AVSForm.svelte
  app/modules/ui/tabs/card/AddCardView.svelte
Owners: none

Fix(AVS): Add missing states for USA (#3191)
  app/modules/ui/tabs/card/constant.js
Owners: none

[CE-4907] feat(retry): Escape retry false with backdrop click bug has been fixed (#3176)
  app/js/checkout-frame/session.js
  app/modules/checkoutstore/backdrop.js
  app/modules/handlers/common.js
  app/modules/handlers/netbanking.js
  app/modules/ui/components/Backdrop.svelte
  app/modules/ui/tabs/home/index.svelte
Owners: @razorpay/Checkout-CX

Remove cache invalidation for prod cdn (#3195)
  .github/workflows/cdn.yml
Owners: none

fix: consume upi_type method for intent & collect upi flow (#3194)
  app/modules/checkoutstore/methods.js
  app/modules/utils/object.js
Owners: none

Analytics Changes for International shipping 1CC (#3192)
  app/modules/one_click_checkout/address/analytics/index.js
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
  app/modules/one_click_checkout/address/ui/components/AddressFormBuilder.svelte
  app/modules/one_click_checkout/address/ui/components/AddressTab.svelte
  app/modules/one_click_checkout/address/ui/elements/CountryField.svelte
  app/modules/one_click_checkout/analytics/metaProperties.js
  app/modules/one_click_checkout/sessionInterface.js
Owners: @razorpay/Checkout-1cc

[CE-4958] Migrate from prod-betacdn to stage-betacdn (#3198)
  .github/workflows/Readme.md
  .github/workflows/beta-cdn.yml
  .github/workflows/comment-preview-build.yml
  .github/workflows/docker-build-for-canary_baseline.yml
  .github/workflows/docker-build.yml
  Dockerfile
Owners: @razorpay/Checkout-CX

Feat(1CC): Realtime suggestion instrumentation (#3200)
  app/modules/one_click_checkout/address/analytics/index.js
  app/modules/one_click_checkout/address/helpers.js
  app/modules/one_click_checkout/address/i18n/en.js
  app/modules/one_click_checkout/address/i18n/labels.js
  app/modules/one_click_checkout/address/service.js
  app/modules/one_click_checkout/address/ui/components/AddNewAddress.svelte
  app/modules/one_click_checkout/address/ui/components/AddressFormBuilder.svelte
  app/modules/one_click_checkout/address/ui/components/AutoCompleteInput.svelte
  app/modules/one_click_checkout/address/ui/components/TagSelector.svelte
  app/modules/one_click_checkout/address/ui/elements/Tag.svelte
  app/modules/one_click_checkout/common/ui/WrappedInput.svelte
Owners: @razorpay/Checkout-1cc

Fix: Show checkout.com compliance TnC for US card (#3196)
  app/modules/tests/setupPreferences.js
  app/modules/ui/tabs/card/__test__/Utils.test.js
  app/modules/ui/tabs/card/index.svelte
  app/modules/ui/tabs/card/utils.js
Owners: none

Feat: Made checkbox mandatory for saved card flow in recurring
  app/js/checkout-frame/session.js
  app/modules/ui/tabs/card/SecureCard.svelte
  app/modules/ui/tabs/card/savedcard.svelte
Owners: @razorpay/Checkout-CX

Fix: Fixed alignment of checkbox and lablel
  app/modules/ui/tabs/card/SecureCard.svelte
Owners: none

Fix: Fixed line alignment for saved card
  app/modules/ui/tabs/card/SecureCard.svelte
Owners: none

Update docker-build-for-canary_baseline.yml (#3203)
  .github/workflows/docker-build-for-canary_baseline.yml
Owners: none

Fix [1CC] : COD Method now working on IOS Insta too! (#3202)
  app/modules/config/cod.js
  app/modules/config/index.js
  app/modules/payment/utils.js
Owners: none

fix(MagicCheckout): COD Method failing on redirect flows (#3208)
  app/modules/config/FLOWS.js
  app/modules/config/cod.js
  app/modules/payment/index.js
Owners: none

Feat (1CC) : New Loader (#3179)
  app/modules/one_click_checkout/loader/Loader.svelte
Owners: @razorpay/Checkout-1cc

Fix edge cases for retry with Paypal button not showing (#3214)
  app/js/checkout-frame/session.js
  app/modules/handlers/__tests__/common.js
  app/modules/handlers/common.js
Owners: @razorpay/Checkout-CX

test:RTB-UT (#3204)
  app/modules/trusted-badge/helper/__test__/index.test.js
  app/modules/trusted-badge/helper/index.js
  app/modules/trusted-badge/ui/component/TrustedBadge.svelte
  app/modules/trusted-badge/ui/component/__test__/TrustedBadge.test.js
Owners: @razorpay/Checkout-CX

Feat: Mandatory check for only cards for which consent is not already taken in case of saved card flow
  app/js/checkout-frame/session.js
Owners: @razorpay/Checkout-CX

Fix: add checks for saved card and add card screens, added check for already taken consent token
  app/js/checkout-frame/session.js
  app/modules/ui/tabs/card/index.svelte
Owners: @razorpay/Checkout-CX

Fix: Undo accidently added declearation
  app/js/checkout-frame/session.js
Owners: @razorpay/Checkout-CX

chore: update JIRA link in PR template (#3221)
  .github/pull_request_template.md
Owners: none

Feat/UPI-QR L1 Desktop (#3174)
  app/js/checkout-frame/session.js
  app/modules/checkoutframe/discreet.js
  app/modules/i18n/bundles/en.js
  app/modules/tests/setupTest.js
  app/modules/ui/labels/upi.js
  app/modules/ui/tabs/home/index.svelte
  app/modules/ui/tabs/upi/GooglePayOmnichannel.svelte
  app/modules/ui/tabs/upi/index.svelte
  app/modules/upi/__test__/helper.test.js
  app/modules/upi/constants.js
  app/modules/upi/helper/index.js
  app/modules/upi/helper/qr.js
  app/modules/upi/helper/upi.js
  app/modules/upi/icons/qr.js
  app/modules/upi/icons/refresh.js
  app/modules/upi/store/__test__/qr.test.js
  app/modules/upi/store/qr.js
  app/modules/upi/ui/components/__test__/qr.test.js
  app/modules/upi/ui/components/qr.svelte
  blackbox/actions/payout-actions.js
  blackbox/actions/qr-actions.js
  blackbox/actions/upi-actions.js
  blackbox/create/omni-channel.js
  blackbox/create/payouts.js
  blackbox/create/saved-vpa.js
  blackbox/create/upi-collect.js
  blackbox/create/upi-intent.js
  blackbox/create/upi-qr.js
  blackbox/create/upi-web-payments.js
  blackbox/tests/homescreen/upiIntent/keyless.test.js
  blackbox/tests/homescreen/upiIntent/keylessDowntimeLow.test.js
  blackbox/tests/homescreen/upiIntent/optionalKeyless.test.js
Owners: @razorpay/Checkout-CX

Fix: Fixing saved card default check issue for recurring payment
  app/modules/checkoutstore/screens/card.js
  app/modules/ui/tabs/home/index.svelte
Owners: none

replace remove method instances with native filter method (#3218)
  app/modules/checkoutframe/personalization/index.js
  app/modules/configurability/index.js
  app/modules/configurability/instruments.js
  app/modules/configurability/sequence.js
  app/modules/ui/elements/SearchModal.svelte
Owners: @razorpay/Checkout-CX

Feat: Adding Punjab National Bank to supported recurring banks
  app/modules/i18n/bundles/en.js
  app/modules/ui/tabs/card/__test__/RecurringCardsOverlay.test.js
  app/modules/ui/tabs/card/constant.js
Owners: none

Added the migration for _Arr merge (#3212)
  app/modules/common/upi.js
  app/modules/configurability/sequence.js
Owners: @razorpay/Checkout-CX

Migrated the Array slice function (#3209)
  app/modules/ui/tabs/upi/UpiIntent.svelte
Owners: none

Fix: Fixed saved card flow, remember check
  app/modules/checkoutstore/screens/card.js
  app/modules/ui/tabs/home/index.svelte
Owners: none

Fix: Fixed Consent Flag Check
  app/js/checkout-frame/session.js
  app/modules/checkoutstore/screens/card.js
  app/modules/ui/tabs/home/index.svelte
Owners: @razorpay/Checkout-CX

Fix: Updating comments for better understanding
  app/js/checkout-frame/session.js
Owners: @razorpay/Checkout-CX

Added the FB standard events (#3225)
  app/modules/checkoutjs/frame.js
  app/modules/common/options.js
  app/modules/one_click_checkout/merchant-analytics/constant.js
  app/modules/one_click_checkout/merchant-analytics/index.js
  app/modules/one_click_checkout/ui/Home.svelte
  app/modules/razorpay/helper.js
  app/modules/ui/tabs/home/index.svelte
Owners: @razorpay/Checkout-1cc

CFU migration _Arr reduce function (#3211)
  app/modules/analytics/tracker.js
  app/modules/checkoutstore/methods.js
  app/modules/common/currency.js
  app/modules/common/emi.js
  app/modules/payment/validator.js
  app/modules/ui/icons/payment-methods/index.js
  app/modules/ui/tabs/home/index.svelte
Owners: none

Feat (1CC): Improved Input Fields (#3215)
  app/modules/i18n/bundles/en.js
  app/modules/one_click_checkout/common/ui/WrappedInput.svelte
  app/modules/one_click_checkout/loader/Loader.svelte
  app/modules/ui/components/ContactField.svelte
  app/modules/ui/components/Field.svelte
  app/modules/ui/elements/fields/card/NumberField.svelte
  app/modules/ui/labels/home.js
Owners: @razorpay/Checkout-1cc

Update Docker base image version to fix comment-on-pr (#3235)
  .github/actions/comment-on-pr/Dockerfile
Owners: @razorpay/Checkout-CX

Kill CFU: Replace Array findIndex util with native filter polyfill (#3226)
  app/js/checkout-frame/session.js
  app/js/lib/polyfill.js
  app/modules/ui/tabs/home/instruments.js
  cfu/src/fe/implicit/_Arr.js
Owners: @razorpay/Checkout-CX

Fb standard analytics (#3239)
  app/modules/common/options.js
  app/modules/one_click_checkout/merchant-analytics/index.js
Owners: @razorpay/Checkout-1cc
